/*
* @section      Page Header
* @description  This section holds specific style redeclarations for some
*               of common elements in page header
*/
header {
  z-index: 5003;
  position: relative;
  background: white;
  padding-bottom: 15px;
}

header .banner {
  background: black;
  max-height: 100%;
}

header .banner .row {
  margin: 0;
}

header .nav {
  background: #f1f1f1;
}

header .nav nav #currencies-block-top, header .nav nav #header-login, header .nav nav #languages-block-top, header .nav nav .blockcart-wrap {
  padding-top: 12px;
}

@media (max-width: 991px) {
  header .nav nav .blockcart-wrap {
    padding-top: 32px;
  }
  header .nav nav #tmsearch {
    padding-top: 20px;
  }
}

@media (max-width: 767px) {
  header .nav nav .blockcart-wrap {
    padding-bottom: 20px;
  }
}

header .row {
  position: relative;
  border-bottom: 0.2em solid #d47887;
  padding-bottom: 2em;
}

header .row > .container {
  position: relative;
}

header .row #header_logo {
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  > a {
    display: inline-block;
  }
}

@media (max-width: 767px) {
  header .row #header_logo img {
    margin: 0 auto;
  }
}