#header .shopping_cart > a:first-child:before {
  position: absolute;
  left: 0;
  top: -5px;
}

#header .cart_block {
  display: none;
  position: absolute;
  width: 150px;
  padding: 6px 10px 6px 15px;
  left: 15px;
  top: 50px;
  background: white;
  -moz-box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.2);
  z-index: 3;
  padding: 0;
  left: auto;
  right: -15px;
  top: 49px;
  height: auto;
  max-height: 700px;
  overflow-y: auto;
  overflow-x: hidden;
}

#header .cart_block li {
  padding: 5px;
}

#header .cart_block .cart_block_list {
  padding: 0;
}

#header .cart_block::-webkit-scrollbar {
  width: 6px;
}

#header .cart_block::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #fefefe;
}

#header .cart_block::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  background: #d47887;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#header .cart_block::-webkit-scrollbar-thumb:hover {
  background: #ce6576;
}

@media (max-width: 767px) {
  #header .cart_block {
    right: 50%;
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
  }
}

#header .block_content {
  margin-bottom: 0;
}

.shopping_cart {
  position: relative;
  text-align: center;
}

.shopping_cart > a:first-child {
  position: relative;
  display: inline-block;
  color: #2d2d2d;
  cursor: pointer;
  font: bold 14px/16px "Merriweather", sans-serif;
  padding-right: 18px;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font: bold 18px/22px "Merriweather", sans-serif;
  padding-right: 0;
  padding-left: 40px;
}

.shopping_cart > a:first-child:before {
  font-family: "fl-bigmug-line";
  content: "\e0a2";
  display: inline-block;
  font-weight: normal;
  padding-right: 15px;
  font-size: 30px;
  line-height: 30px;
  color: #2d2d2d;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.shopping_cart > a:first-child span.ajax_cart_product_txt, .shopping_cart > a:first-child span.ajax_cart_product_txt_s, .shopping_cart > a:first-child .ajax_cart_total {
  display: none !important;
}

.shopping_cart > a:first-child .ajax_cart_quantity, .shopping_cart > a:first-child .ajax_cart_no_product {
  color: #d47887;
  font: bold 14px/16px "Merriweather", sans-serif;
}

.shopping_cart > a:first-child b {
  display: none;
}

.shopping_cart > a:first-child:hover:before, .shopping_cart > a:first-child:focus:before, .shopping_cart > a:first-child.active_cart:before {
  color: #d47887;
}

.shopping_cart .block_cart_expand:after, .shopping_cart .block_cart_collapse:after {
  font-family: "FontAwesome";
  content: "\f0d7";
  display: inline-block;
  font-weight: normal;
  float: right;
}

.shopping_cart .block_cart_collapse:after {
  font-family: "FontAwesome";
  content: "\f0d8";
  display: inline-block;
  font-weight: normal;
}

.cart_block {
  display: none;
  position: absolute;
  width: 150px;
  padding: 6px 10px 6px 15px;
  left: 15px;
  top: 50px;
  background: white;
  -moz-box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.2);
  z-index: 3;
  width: 300px !important;
  position: static;
  display: block;
  padding: 0;
  text-align: left;
}

.cart_block li {
  padding: 5px;
}

.cart_block .cart_block_list dt {
  font-weight: normal;
  overflow: hidden;
  padding: 10px 30px 10px 15px;
  position: relative;
}

.cart_block .cart_block_list .remove_link {
  font-size: 17px;
  line-height: 25px;
  position: absolute;
  right: 10px;
  top: 7px;
}

.cart_block .cart_block_list .remove_link a, .cart_block .cart_block_list .ajax_cart_block_remove_link {
  color: #d47887;
  display: block;
  width: 100%;
  height: 100%;
}

.cart_block .cart_block_list .remove_link a:before, .cart_block .cart_block_list .ajax_cart_block_remove_link:before {
  display: inline-block;
  font-family: "FontAwesome";
  content: "\f00d";
  display: inline-block;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
}

.cart_block .cart_block_list .remove_link a:hover, .cart_block .cart_block_list .ajax_cart_block_remove_link:hover {
  color: #d47887;
}

.cart_block .cart_block_list .product-atributes {
  padding-bottom: 10px;
  font-size: 12px;
}

.cart_block .cart_block_list .product-atributes > a {
  color: #d47887;
}

.cart_block .cart_block_list .product-atributes > a:hover {
  color: #2d2d2d;
}

.cart_block .price {
  font: bold 22px/22px "Merriweather", sans-serif;
}

.cart_block .cart-images {
  display: block;
  position: relative;
  background: white;
  float: left;
  margin-right: 10px;
}

.cart_block .cart-images img {
  backface-visibility: hidden;
}

.cart_block .cart-images img {
  max-width: 100%;
  height: auto;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.cart_block .cart-info {
  overflow: hidden;
  position: relative;
  padding-right: 20px;
}

.cart_block .cart-info .quantity-formated {
  display: inline-block;
  text-transform: uppercase;
  font-size: 10px;
  padding-right: 5px;
}

.cart_block .cart-info .quantity-formated .quantity {
  font-size: 15px;
}

.cart_block dt {
  font-weight: normal;
  overflow: hidden;
  position: relative;
  padding: 20px 0;
}

.cart_block dt .product-name {
  color: #2d2d2d;
  font: normal 18px/30px "Merriweather", sans-serif;
  padding-bottom: 10px;
}

.cart_block dt .product-name a {
  color: #2d2d2d;
  font: normal 18px/30px "Merriweather", sans-serif;
}

.cart_block dt .product-name a:hover {
  color: #d47887;
}

.cart_block dd {
  position: relative;
}

.cart_block dd .cart_block_customizations {
  border: 1px solid white;
  margin-top: 10px;
}

.cart_block dd .cart_block_customizations li {
  padding: 10px 20px 10px 8px !important;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
}

.cart_block dd .cart_block_customizations li .deleteCustomizableProduct {
  position: absolute;
  right: 10px;
}

.cart_block .cart_block_no_products {
  margin: 0;
  padding: 10px 20px;
}

.cart_block .cart-prices {
  border-top: 1px solid #f0f0f0;
  background: white;
  padding: 10px 15px;
}

.cart_block .cart-prices .cart-prices-line {
  overflow: hidden;
  padding: 7px 0;
}

.cart_block .cart-prices .cart-prices-line.last-line {
  font-size: 20px;
  font-style: italic;
}

.cart_block .cart-prices .cart-prices-line.last-line .price {
  color: #d47887;
}

.cart_block .cart-prices .cart-prices-line.first-line > span {
  float: right;
}

.cart_block .cart-prices .cart-prices-line.first-line > span + span {
  float: left;
}

.cart_block .cart-prices .cart-prices-line .cart_block_shipping_cost, .cart_block .cart-prices .cart-prices-line .cart_block_tax_cost, .cart_block .cart-prices .cart-prices-line .cart_block_total, .cart_block .cart-prices .cart-prices-line .cart_block_wrapping_cost {
  float: right;
  line-height: 30px;
}

.cart_block .cart-buttons {
  overflow: hidden;
  padding: 10px 10px 20px;
  margin: 0;
}

.cart_block table.vouchers {
  clear: both;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.cart_block table.vouchers tr td {
  padding: 2px;
}

.cart_block table.vouchers tr td.quantity {
  margin-right: 5px;
  min-width: 18px;
}

.cart_block table.vouchers tr td.delete {
  padding-left: 0;
  padding-right: 0;
  text-align: right;
  width: 15px;
}

.lang_fr .cart_block .cart-prices .cart-prices-line span:not(.price), .lang_ru .cart_block .cart-prices .cart-prices-line span:not(.price) {
  font-size: 14px;
  line-height: 16px;
}

.layer_cart_overlay {
  background: rgba(45, 45, 45, 0.2);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 9999;
  overflow: hidden;
  display: none;
}

* html .layer_cart_overlay {
  position: absolute;
  left: 0;
  margin-left: -160px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
}

#layer_cart {
  background: white;
  -moz-box-shadow: 0 1px 16px rgba(16, 39, 71, 0.5);
  -webkit-box-shadow: 0 1px 16px rgba(16, 39, 71, 0.5);
  box-shadow: 0 1px 16px rgba(16, 39, 71, 0.5);
  border: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  z-index: 99999;
  display: none;
  margin-left: 8%;
  margin-right: 8%;
  position: absolute;
  width: 84%;
}

#layer_cart .layer_cart_product {
  padding: 20px;
  overflow: hidden;
  position: static;
}

#layer_cart .layer_cart_product .title {
  display: block;
  font: 700 18px/20px "Merriweather", sans-serif;
  color: #d47887;
  margin: 0 0 22px;
  padding-right: 20px;
}

@media (max-width: 767px) {
  #layer_cart .layer_cart_product .title {
    font-size: 18px;
    line-height: 20px;
    padding-right: 0;
  }
}

#layer_cart .layer_cart_product .title i {
  font-size: 25px;
  line-height: 25px;
  float: left;
  padding-right: 8px;
}

@media (max-width: 767px) {
  #layer_cart .layer_cart_product .title i {
    font-size: 22px;
    line-height: 22px;
  }
}

#layer_cart .layer_cart_product .product-image-container {
  display: block;
  position: relative;
  background: white;
  padding: 5px;
  float: left;
  max-width: 178px;
  margin-right: 15px;
}

#layer_cart .layer_cart_product .product-image-container img {
  backface-visibility: hidden;
}

@media (max-width: 480px) {
  #layer_cart .layer_cart_product .product-image-container {
    float: none;
    margin-right: 0;
    margin-bottom: 10px;
  }
}

#layer_cart .layer_cart_product .layer_cart_product_info {
  padding: 20px 0 0 0;
}

#layer_cart .layer_cart_product .layer_cart_product_info #layer_cart_product_title {
  display: block;
  padding-bottom: 8px;
}

#layer_cart .layer_cart_product .layer_cart_product_info > div {
  padding-bottom: 7px;
}

#layer_cart .layer_cart_product .layer_cart_product_info > div strong {
  padding-right: 3px;
}

#layer_cart .layer_cart_cart {
  border-left: 1px solid #f0f0f0;
  padding: 21px 30px 170px 30px;
  position: relative;
}

@media (min-width: 1200px) {
  #layer_cart .layer_cart_cart {
    min-height: 350px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  #layer_cart .layer_cart_cart {
    min-height: 360px;
  }
}

@media (max-width: 991px) {
  #layer_cart .layer_cart_cart {
    -moz-border-radius: 0px 0 4px 4px;
    -webkit-border-radius: 0px;
    border-radius: 0px 0 4px 4px;
    border-left: none;
    border-top: 1px solid #f0f0f0;
  }
}

#layer_cart .layer_cart_cart .title {
  display: block;
  font: 700 18px/20px "Merriweather", sans-serif;
  color: #141414;
  padding-bottom: 15px;
}

@media (max-width: 767px) {
  #layer_cart .layer_cart_cart .title {
    font-size: 18px;
    line-height: 20px;
  }
}

#layer_cart .layer_cart_cart .layer_cart_row {
  padding: 0 0 7px 0;
}

#layer_cart .layer_cart_cart .button-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 30px 20px 30px;
}

#layer_cart .layer_cart_cart .button-container .btn {
  margin-bottom: 10px;
}

#layer_cart .layer_cart_cart .button-container span.btn-md {
  margin-right: 5px;
}

#layer_cart .cross {
  position: absolute;
  right: 10px;
  top: 5px;
  width: auto;
  height: auto;
  cursor: pointer;
  color: #2d2d2d;
  z-index: 2;
  text-align: center;
  background-image: none;
}

#layer_cart .cross:before {
  font-family: "FontAwesome";
  content: "\f00d";
  display: inline-block;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#layer_cart .cross:hover {
  color: #d47887;
}

#layer_cart p {
  padding: 0;
}

#layer_cart .crossseling .crossseling-content {
  border-top: 1px solid #f0f0f0;
  padding: 26px 30px 40px 30px;
  position: relative;
}

#layer_cart .crossseling h2 {
  font: bold 30px/38px "Merriweather", sans-serif;
  color: #141414;
  margin-bottom: 25px;
}

#layer_cart .crossseling #blockcart_list {
  max-width: 773px;
  width: 84%;
  margin: 0 auto;
  overflow: hidden;
}

#layer_cart .crossseling #blockcart_list ul {
  display: block;
}

#layer_cart .crossseling #blockcart_list ul li {
  float: left;
  width: 178px;
  margin: 0 0 0 0;
}

#layer_cart .crossseling #blockcart_list ul li .product-image-container {
  border: 1px solid #f0f0f0;
  text-align: center;
  padding: 5px;
  margin-bottom: 15px;
}

#layer_cart .crossseling #blockcart_list ul li .product-image-container img {
  width: 100%;
}

#layer_cart .crossseling #blockcart_list ul li .product-name {
  padding-bottom: 5px;
}

#layer_cart .crossseling #blockcart_list ul li .product-name a {
  font-size: 15px;
  line-height: 20px;
}

#layer_cart .crossseling #blockcart_list a.bx-prev, #layer_cart .crossseling #blockcart_list a.bx-next {
  display: block;
  font-family: "FontAwesome";
  font-size: 20px;
  line-height: 20px;
  width: 20px;
  height: 20px;
  color: #141414;
  text-indent: -5000px;
  position: absolute;
  top: 45%;
  margin-top: -20px;
}

#layer_cart .crossseling #blockcart_list a.bx-prev:after, #layer_cart .crossseling #blockcart_list a.bx-next:after {
  display: block;
  text-indent: 0;
}

#layer_cart .crossseling #blockcart_list a.bx-prev:hover, #layer_cart .crossseling #blockcart_list a.bx-next:hover {
  color: #2d2d2d;
}

#layer_cart .crossseling #blockcart_list a.bx-prev.disabled, #layer_cart .crossseling #blockcart_list a.bx-next.disabled {
  display: none;
}

#layer_cart .crossseling #blockcart_list a.bx-prev {
  left: 5%;
}

#layer_cart .crossseling #blockcart_list a.bx-prev:after {
  font-family: "FontAwesome";
  content: "\f137";
  display: inline-block;
  font-weight: normal;
}

#layer_cart .crossseling #blockcart_list a.bx-next {
  right: 5%;
}

#layer_cart .crossseling #blockcart_list a.bx-next:after {
  font-family: "FontAwesome";
  content: "\f138";
  display: inline-block;
  font-weight: normal;
}

#layer_cart .crossseling #blockcart_list .bx-controls {
  overflow: hidden;
}