/*
* @section   CART steps
*
* @description  Describes style declarations for check out - 5 steps
*/
ul.step {
  margin-bottom: 30px;
  overflow: hidden;
  display: flex;
}

@media (min-width: 480px) {
  ul.step {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
  }
}

ul.step li {

  border: 1px solid;
  border-top-color: #ce6576;
  border-bottom-color: #ce6576;
  border-right-color: #ce6576;
  border-left-width: 0;
}

@media (max-width: 767px) {
  ul.step li {
    width: 100%;
    border-left-width: 1px;
    border-left-color: #ce6576;
  }
}

ul.step li a,
ul.step li span, ul.step li.step_current span, ul.step li.step_current_end span {
  display: block;
  padding: 13px 25px 14px 13px;
  color: #141414;
  font-size: 17px;
  line-height: 21px;
  font-weight: bold;
  text-shadow: 1px 1px white;
  position: relative;
}

@media (max-width: 992px) {
  ul.step li a,
  ul.step li span, ul.step li.step_current span, ul.step li.step_current_end span {
    font-size: 15px;
  }
}

@media (min-width: 992px) {
  ul.step li a:after,
  ul.step li span:after, ul.step li.step_current span:after, ul.step li.step_current_end span:after {
    content: ".";
    position: absolute;
    top: 6px;
    right: -18px;
    z-index: 0;
    text-indent: -5000px;
    display: block;
    width: 36px;
    height: 36px;
    margin-top: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

ul.step li a:focus,
ul.step li span:focus, ul.step li.step_current span:focus, ul.step li.step_current_end span:focus {
  text-decoration: none;
  outline: none;
}

ul.step li.first {
  border-left-width: 1px;
  border-left-color: #d9d9d9;
}

@media (min-width: 480px) {
  ul.step li.first {
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

ul.step li.first span,
ul.step li.first a {
  z-index: 5;
  padding-left: 13px !important;
}

@media (min-width: 480px) {
  ul.step li.first span,
  ul.step li.first a {
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

ul.step li.second span,
ul.step li.second a {
  z-index: 4;
}

ul.step li.third span,
ul.step li.third a {
  z-index: 3;
}

ul.step li.four span,
ul.step li.four a {
  z-index: 2;
}

ul.step li.last span {
  z-index: 1;
}

@media (min-width: 480px) {
  ul.step li.last {
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  ul.step li.last span {
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

ul.step li.step_current,
ul.step li a.step_current {
  font-weight: bold;
  background: #d47887;
  border-color: #ce6576;
}

ul.step li.step_current span,
ul.step li a.step_current {
  color: white;
  text-shadow: 1px 1px #882b3a;
  position: relative;
}

@media (min-width: 992px) {
  ul.step {
    li.step_current span,
    li a.step_current {
      padding-left: 38px;

      &:after {
        background: #d47887;
        border-top: 1px solid #ce6576;
        border-right: 1px solid #ce6576;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
      }

    }
  }
}

ul.step li.step_current_end {
  font-weight: bold;
}

ul.step li.step_todo {
  background: white;
}

ul.step li.step_todo span {
  display: block;
  color: #141414;
  position: relative;
}

@media (min-width: 992px) {
  ul.step {
    li.step_todo {
      span, a {
        padding-left: 38px;
        &:after {
          background: white;
          border-top: 1px solid #ce6576;
          border-right: 1px solid #ce6576;
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s;
        }
      }
    }
  }
}

ul.step li.step_done {
  border-color: #c23e53;
  background: #c85165;
}

ul.step li.step_done a {
  color: white;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}

@media (min-width: 992px) {
  ul.step li.step_done a {
    padding-left: 38px;
  }
  ul.step li.step_done a:after {
    background: #c85165;
    border-top: 1px solid #c23e53;
    border-right: 1px solid #c23e53;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
}

@media (min-width: 992px) {
  ul.step li.step_done.step_done_last a:after {
    background: #c85165;
    border-top: 1px solid #c23e53;
    border-right: 1px solid #c23e53;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
}

@media (min-width: 992px) {
  ul.step li#step_end span:after {
    display: none;
  }
}

ul.step li em {
  font-style: normal;
}

@media (min-width: 480px) and (max-width: 767px) {
  ul.step li em {
    display: none;
  }
}

//ul.step a:hover {
//  background: #9b3143;
//  border-color: #4e1921;
//}

//ul.step a:hover:after {
//  border-top-color: #4e1921 !important;
//  border-right-color: #4e1921 !important;
//  background: #9b3143 !important;
//}

.one-column ul.step li em {
  display: inline;
}

@media (max-width: 1199px) {
  .one-column ul.step li em {
    display: none;
  }
}

.one-column ul.step li a,
.one-column ul.step li span,
.one-column ul.step li.step_current span,
.one-column ul.step li a.step_current,
.one-column ul.step li.step_current_end span {
  font-size: 17px;
  line-height: 21px;
  font-weight: bold;
  padding-top: 13px;
  padding-bottom: 14px;
}

@media (max-width: 1199px) {
  .one-column ul.step li a,
  .one-column ul.step li span,
  .one-column ul.step li.step_current span,
  .one-column ul.step li a.step_current,
  .one-column ul.step li.step_current_end span {
    padding-left: 15px;
    font-size: 14px;
  }
}

.one-column ul.step li a:after,
.one-column ul.step li span:after,
.one-column ul.step li.step_current span:after,
.one-column ul.step li a.step_current:after,
.one-column ul.step li.step_current_end span:after {
  height: 36px;
  right: -18px;
  top: 6px;
  width: 36px;
}

@media (max-width: 1199px) {
  .one-column ul.step li a:after,
  .one-column ul.step li span:after,
  .one-column ul.step li.step_current span:after,
  .one-column ul.step li a.step_current:after,
  .one-column ul.step li.step_current_end span:after {
    display: none;
  }
}

.two-columns ul.step li em {
  display: none;
}

.two-columns ul.step li a,
.two-columns ul.step li span,
.two-columns ul.step li.step_current span,
.two-columns ul.step li a.step_current,
.two-columns ul.step li.step_current_end span {
  font-size: 17px;
  line-height: 17px;
  padding-top: 13px;
  padding-bottom: 14px;
}

.two-columns ul.step li a:after,
.two-columns ul.step li span:after,
.two-columns ul.step li.step_current span:after,
.two-columns ul.step li a.step_current:after,
.two-columns ul.step li.step_current_end span:after {
  height: 32px;
  right: -17px;
  top: 6px;
  width: 32px;
}

@media only screen and (max-width: 991px) {
  .two-columns #order-detail-content.table-responsive {
    overflow-x: scroll;
  }
}

.three-columns ul.step li {
  width: 100%;
  border-top-width: 0;
}

.three-columns ul.step li:first-child {
  border-top-width: 1px;
}

.three-columns ul.step li em {
  display: none;
}

.three-columns ul.step li a,
.three-columns ul.step li span,
.three-columns ul.step li.step_current span,
.three-columns ul.step li a.step_current,
.three-columns ul.step li.step_current_end span {
  font: normal 18px/30px "Merriweather", sans-serif;
  padding-top: 13px;
  padding-bottom: 14px;
  padding-left: 15px;
}

.three-columns ul.step li a:after,
.three-columns ul.step li span:after,
.three-columns ul.step li.step_current span:after,
.three-columns ul.step li a.step_current:after,
.three-columns ul.step li.step_current_end span:after {
  display: none;
}
