<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8" />
	<title>
		С Любовью
	</title>

	<meta name="viewport" content="width=device-wproductIdth, minimum-scale=0.25, maximum-scale=1.0, initial-scale=1.0" />
	<meta name="apple-mobile-web-app-capable" content="yes" />

	<link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic'
		  rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="/app/styles/main.css?v=@Appversion.Value" media="all" />

	@RenderSection("head", false)

</head>
<body id="index" class="index hide-left-column hide-right-column lang_en  one-column">

	<div id="page">
		<div class="header-container">
			<header id="header">
				<div>
					<div class="container">
						<div class="row">
							@{
								Html.RenderPartial("_MainMenu");
							}

							<div id="header_logo">
								<a href="/" title="With Love">
									<img class="logo img-responsive"
										 width="130"
										 src="/app/img/logo2.jpg"
										 alt="With Love" />
								</a>
							</div>
						</div>
					</div>
				</div>
			</header>
		</div>

		<div class="columns-container">
			@RenderBody()
		</div>

	</div>
	<div class="footer-container">
		<footer id="footer" class="container">
			<div class="row">


				<div class="clearfix"></div>

				<div id="tmhtmlcontent_footer">
					<ul class="tmhtmlcontent-footer">
						<li class="tmhtmlcontent-item-1 ">
							<a href="/" title="With Love">
								<img class="logo img-responsive"
									 width="130"
									 src="/app/img/logo2.jpg"
									 alt="With Love" />
							</a>
						</li>
						<li>
							<a class="_blank" href="/">
								© @DateTime.Now.Year - С любовью
							</a>
						</li>

					</ul>

				</div>
			</div>
		</footer>
	</div>

	<environment names="Development">

		<script src="/node_modules/systemjs/dist/system.src.js"></script>
		<script src="/app/public/systemjs.config.js"></script>
		<script>
			(function () {
				System.import('app/public/global/app')
					.then(null, console.error.bind(console));
			}());

		</script>

	</environment>

	<environment names="Production">

		@{
			Html.RenderPartial("_ReleaseScriptLoader", new[]
			{
				"/app/public/global/app.js"
			});
		};

	</environment>

	@RenderSection("Scripts", required: false)
</body>
</html>
