@{
	Layout = "_Layout";
}

@using Flowers.CoreWeb.Api.Config
@using Newtonsoft.Json

<div id="columns" class="container">
	<div class="row">
		<div class="large-left col-sm-12">
			<div class="row">
				@RenderBody()
			</div>
		</div>
	</div>
</div>

@section scripts{

	<script>
		@*window.__INITIAL_STATE__ = JSON.parse('@Html.Raw(HttpUtility.JavaScriptStringEncode(Newtonsoft.Json.JsonConvert.SerializeObject(Model, JsonConfiguration.SerializerSettings)))');*@

		@{
			var ssettings = JsonConfiguration.SerializerSettings;
			ssettings.StringEscapeHandling = StringEscapeHandling.EscapeHtml;
		}
		window.__INITIAL_STATE__ = JSON.parse('@(Json.Serialize(Model, ssettings))');
	</script>

	<environment names="Development">

		@*<script src="/node_modules/systemjs/dist/system.src.js"></script>
		<script src="/app/public/systemjs.config.js"></script>*@
		<script>
			(function () {
				System.import('app/public/app')
					.then(null, console.error.bind(console));
			}());

		</script>

	</environment>

	<environment names="Production">

		@{
			Html.RenderPartial("_ReleaseScriptLoader", new[]
			{
					"/app/public/app.js"
			});
		};

	</environment>


}
