@model Flowers.BL.Products.Product
<div class="columns-container">
	<div id="columns" class="container">

		<div class="row">
			<div class="large-left col-sm-12">
				<div class="row">
					<div id="center_column" class="center_column col-xs-12 col-sm-12 accordionBox">

						<div itemscope="" itemtype="https://schema.org/Product">
							<meta itemprop="url" content="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=8&amp;controller=product&amp;id_lang=1">
							<div class="primary_block row">

								<div class="pb-left-column col-sm-6 col-md-6 col-lg-6">

									<div id="image-block" class="clearfix is_caroucel">
										<span id="view_full_size">
											<a class="jqzoom" title="" rel="gal1" href="https://ld-prestashop.template-help.com/prestashop_58383/img/p/2/5/25-tm_thickbox_default.jpg" style="outline-style: none; text-decoration: none;">
												<div class="zoomPad">
													<img itemprop="image" src="https://ld-prestashop.template-help.com/prestashop_58383/img/p/2/5/25-tm_large_default.jpg" title="" alt="Autumn Basket" style="opacity: 1;"><div class="zoomPup" style="width: 204px; height: 242px; position: absolute; display: none; border-width: 1px; left: 3.5px; top: 189px;"></div><div class="zoomWindow" style="position: absolute; z-index: 5001; cursor: default; left: 0px; top: 0px; display: block;"><div class="zoomWrapper" style="width: 452px; border-width: 1px; cursor: crosshair;"><div class="zoomWrapperTitle" style="width: 100%; position: absolute; display: none;"></div><div class="zoomWrapperImage" style="width: 100%; height: 536px;"><img src="https://ld-prestashop.template-help.com/prestashop_58383/img/p/2/5/25-tm_thickbox_default.jpg" style="position: absolute; border: 0px; display: block; left: -9.95575px; top: -420.056px;"></div></div></div><div class="zoomPreload" style="top: 255.5px; left: 190px; position: absolute; visibility: hidden;">Loading zoom</div>
												</div>
											</a>
										</span>
									</div>


									<div id="views_block" class="clearfix">
										<a id="view_scroll_left" class="" title="Other views" href="javascript:{}" style="cursor: default; opacity: 0; display: none;">
											Previous
										</a>
										<div id="thumbs_list">
											<ul id="thumbs_list_frame" style="height: 666px;">
												<li id="thumbnail_24">
													<a href="javascript:void(0);" rel="{gallery: 'gal1', smallimage: 'https://ld-prestashop.template-help.com/prestashop_58383/img/p/2/4/24-tm_large_default.jpg',largeimage: 'https://ld-prestashop.template-help.com/prestashop_58383/img/p/2/4/24-tm_thickbox_default.jpg'}" title="Autumn Basket">
														<img class="img-responsive" id="thumb_24" src="https://ld-prestashop.template-help.com/prestashop_58383/img/p/2/4/24-tm_cart_default.jpg" alt="Autumn Basket" title="Autumn Basket" height="95" width="80" itemprop="image">
													</a>
												</li>
												<li id="thumbnail_25">
													<a href="javascript:void(0);" rel="{gallery: 'gal1', smallimage: 'https://ld-prestashop.template-help.com/prestashop_58383/img/p/2/5/25-tm_large_default.jpg',largeimage: 'https://ld-prestashop.template-help.com/prestashop_58383/img/p/2/5/25-tm_thickbox_default.jpg'}" title="Autumn Basket" class="shown">
														<img class="img-responsive" id="thumb_25" src="https://ld-prestashop.template-help.com/prestashop_58383/img/p/2/5/25-tm_cart_default.jpg" alt="Autumn Basket" title="Autumn Basket" height="95" width="80" itemprop="image">
													</a>
												</li>
												<li id="thumbnail_26">
													<a href="javascript:void(0);" rel="{gallery: 'gal1', smallimage: 'https://ld-prestashop.template-help.com/prestashop_58383/img/p/2/6/26-tm_large_default.jpg',largeimage: 'https://ld-prestashop.template-help.com/prestashop_58383/img/p/2/6/26-tm_thickbox_default.jpg'}" title="Autumn Basket">
														<img class="img-responsive" id="thumb_26" src="https://ld-prestashop.template-help.com/prestashop_58383/img/p/2/6/26-tm_cart_default.jpg" alt="Autumn Basket" title="Autumn Basket" height="95" width="80" itemprop="image">
													</a>
												</li>
												<li id="thumbnail_27">
													<a href="javascript:void(0);" rel="{gallery: 'gal1', smallimage: 'https://ld-prestashop.template-help.com/prestashop_58383/img/p/2/7/27-tm_large_default.jpg',largeimage: 'https://ld-prestashop.template-help.com/prestashop_58383/img/p/2/7/27-tm_thickbox_default.jpg'}" title="Autumn Basket">
														<img class="img-responsive" id="thumb_27" src="https://ld-prestashop.template-help.com/prestashop_58383/img/p/2/7/27-tm_cart_default.jpg" alt="Autumn Basket" title="Autumn Basket" height="95" width="80" itemprop="image">
													</a>
												</li>
												<li id="thumbnail_28">
													<a href="javascript:void(0);" rel="{gallery: 'gal1', smallimage: 'https://ld-prestashop.template-help.com/prestashop_58383/img/p/2/8/28-tm_large_default.jpg',largeimage: 'https://ld-prestashop.template-help.com/prestashop_58383/img/p/2/8/28-tm_thickbox_default.jpg'}" title="Autumn Basket">
														<img class="img-responsive" id="thumb_28" src="https://ld-prestashop.template-help.com/prestashop_58383/img/p/2/8/28-tm_cart_default.jpg" alt="Autumn Basket" title="Autumn Basket" height="95" width="80" itemprop="image">
													</a>
												</li>
												<li id="thumbnail_29" class="last">
													<a href="javascript:void(0);" rel="{gallery: 'gal1', smallimage: 'https://ld-prestashop.template-help.com/prestashop_58383/img/p/2/9/29-tm_large_default.jpg',largeimage: 'https://ld-prestashop.template-help.com/prestashop_58383/img/p/2/9/29-tm_thickbox_default.jpg'}" title="Autumn Basket">
														<img class="img-responsive" id="thumb_29" src="https://ld-prestashop.template-help.com/prestashop_58383/img/p/2/9/29-tm_cart_default.jpg" alt="Autumn Basket" title="Autumn Basket" height="95" width="80" itemprop="image">
													</a>
												</li>
											</ul>
										</div>

										<a id="view_scroll_right" title="Other views" href="javascript:{}" style="cursor: pointer; opacity: 1; display: block;">
											Next
										</a>
									</div>


									<p class="resetimg clear no-print">
										<span id="wrapResetImages" style="display: none;">
											<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=8&amp;controller=product&amp;id_lang=1" data-id="resetImages">
												<i class="fa fa-repeat"></i>
												<span>Display all pictures</span>
											</a>
										</span>
									</p>
								</div>

								<div class="pb-right-column col-sm-6 col-md-6 col-lg-6">
									<h1 itemprop="name">
										@Model.Name
									</h1>

									<div class="box-info-product">
										<div class="content_prices clearfix">

											<div class="all-price-info">
												<p class="our_price_display" itemprop="offers" itemscope="" itemtype="https://schema.org/Offer">
													<link itemprop="availability" href="https://schema.org/InStock">
													<span id="our_price_display" itemprop="price" content="16" class="new-price">
														@Model.Price.ToString("C")
													</span>
													<meta itemprop="priceCurrency" content="USD">
												</p>
											</div>

											<div class="clear"></div>
										</div>

									</div>
								</div>

							</div>

							<div class="clearfix product-information">

								<div class="tab-content col-sm-8 col-lg-9">
									<div id="product-description-tab-content" class="product-description-tab-content tab-pane active">
										<div class="rte">
											<p><span>&nbsp; &nbsp;&nbsp;What do we do when we want to show our thankfulness? We send a card, a gift or something like that. But the most traditional thing that we do is to present flowers. They are a universal gift and believe us - even if you are not a fan, it doesn’t matter because it is very pleasant to receive flowers. They are unique and they are worth our admiring. Flowers are one of the best nature’s miracles because what could be more innocent and more beautiful than flowers? </span></p>
											<p><span>&nbsp;&nbsp; Flowers have two unique peculiarities because they have very unbelievable appearance and unique smell. This combination makes them perfect. And this magical process of fertilization, it is a real wonder. Just imagine how simple and incredible it is when the bees pollinate flowers. Yeah, our nature is unbelievable. If you want to express your feelings without saying a word just present flowers and everything will be understood. Besides that they have other interesting features because their blossom is the main ingredient of all perfumes. They can cast a spell with their charming smell.&nbsp; </span></p>
											<p><span>We are proud to present our wonderful goods. Here you can find many wonderful examples because our collection is one of the biggest among flower stores. We know how to satisfy our clients because we have one similar passion – flowers. We have many unique products, you don’t have to worry about the quality because our goods have premium quality and after all, trust is the foundation of collaboration. We have plenty of different flower-related supplies. </span></p>
											<p><span>We work with the leading florists because this sphere is very important in our kind of activity. You can rely on us because we are offering only premium quality goods. Important thing is that you can save a lot of money in our store. There are many different benefits and discounts. We are ready to make your life more beautiful.</span></p>
										</div>
									</div>
								</div>
							</div>

							<section class="page-product-box blockproductscategory">
								<h3 class="productscategory_h3 page-product-heading">
									19 other products in the same category:
								</h3>
								<div id="productscategory_list" class="clearfix">
									<div class="bx-wrapper" style="max-width: 1168px; margin: 0px auto;">
										<div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 379px;">
											<ul id="bxslider1" class="bxslider clearfix" style="width: 2115%; position: relative; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">
												<li class="product-box item" style="float: left; list-style: none; position: relative; margin-right: 20px; width: 178px;">
													<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=9&amp;controller=product&amp;id_lang=1" class="lnk_img product-image" title="Autumn Shades Perfect Gift">
														<img src="https://ld-prestashop.template-help.com/prestashop_58383/img/p/3/0/30-tm_home_default.jpg" alt="Autumn Shades Perfect Gift">
													</a>
													<h5 itemprop="name" class="product-name">
														<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=9&amp;controller=product&amp;id_lang=1" title="Autumn Shades Perfect Gift">Autumn Shades Perfect Gift</a>
													</h5>
													<p class="price_display">
														<span class="price special-price">$25.60</span>
														<span class="price-percent-reduction small">-20%</span>
														<span class="old-price">$32.00</span>
													</p>
													<div class="clearfix" style="margin-top:5px">
													</div>
												</li>
												<li class="product-box item" style="float: left; list-style: none; position: relative; margin-right: 20px; width: 178px;">
													<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=10&amp;controller=product&amp;id_lang=1" class="lnk_img product-image" title="Baby-Boy Perfect Gift">
														<img src="https://ld-prestashop.template-help.com/prestashop_58383/img/p/3/1/31-tm_home_default.jpg" alt="Baby-Boy Perfect Gift">
													</a>
													<h5 itemprop="name" class="product-name">
														<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=10&amp;controller=product&amp;id_lang=1" title="Baby-Boy Perfect Gift">Baby-Boy Perfect Gift</a>
													</h5>
													<p class="price_display">
														<span class="price special-price">$22.40</span>
														<span class="price-percent-reduction small">-20%</span>
														<span class="old-price">$28.00</span>
													</p>
													<div class="clearfix" style="margin-top:5px">
														<div class="no-print">
															<a class="btn btn-default ajax_add_to_cart_button" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?controller=cart&amp;qty=1&amp;id_product=10&amp;token=b8c06725f8ba8af5e140b0764db45415&amp;add=" data-id-product="10" title="Add to cart">
																<span>Add to cart</span>
															</a>
														</div>
													</div>
												</li>
												<li class="product-box item" style="float: left; list-style: none; position: relative; margin-right: 20px; width: 178px;">
													<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=11&amp;controller=product&amp;id_lang=1" class="lnk_img product-image" title="Fairtrade Golden Autumn Hand tied">
														<img src="https://ld-prestashop.template-help.com/prestashop_58383/img/p/3/2/32-tm_home_default.jpg" alt="Fairtrade Golden Autumn Hand tied">
													</a>
													<h5 itemprop="name" class="product-name">
														<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=11&amp;controller=product&amp;id_lang=1" title="Fairtrade Golden Autumn Hand tied">Fairtrade Golden Autumn...</a>
													</h5>
													<p class="price_display">
														<span class="price special-price">$12.80</span>
														<span class="price-percent-reduction small">-20%</span>
														<span class="old-price">$16.00</span>
													</p>
													<div class="clearfix" style="margin-top:5px">
														<div class="no-print">
															<a class="btn btn-default ajax_add_to_cart_button" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?controller=cart&amp;qty=1&amp;id_product=11&amp;token=b8c06725f8ba8af5e140b0764db45415&amp;add=" data-id-product="11" title="Add to cart">
																<span>Add to cart</span>
															</a>
														</div>
													</div>
												</li>
												<li class="product-box item" style="float: left; list-style: none; position: relative; margin-right: 20px; width: 178px;">
													<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=12&amp;controller=product&amp;id_lang=1" class="lnk_img product-image" title="Happy Birthday Autumn Brights Globe">
														<img src="https://ld-prestashop.template-help.com/prestashop_58383/img/p/4/8/48-tm_home_default.jpg" alt="Happy Birthday Autumn Brights Globe">
													</a>
													<h5 itemprop="name" class="product-name">
														<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=12&amp;controller=product&amp;id_lang=1" title="Happy Birthday Autumn Brights Globe">Happy Birthday Autumn...</a>
													</h5>
													<p class="price_display">
														<span class="price">$27.00</span>
													</p>
													<div class="clearfix" style="margin-top:5px">
														<div class="no-print">
															<a class="btn btn-default ajax_add_to_cart_button" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?controller=cart&amp;qty=1&amp;id_product=12&amp;token=b8c06725f8ba8af5e140b0764db45415&amp;add=" data-id-product="12" title="Add to cart">
																<span>Add to cart</span>
															</a>
														</div>
													</div>
												</li>
												<li class="product-box item" style="float: left; list-style: none; position: relative; margin-right: 20px; width: 178px;">
													<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=13&amp;controller=product&amp;id_lang=1" class="lnk_img product-image" title="Happy Birthday Kalanchoe Basket">
														<img src="https://ld-prestashop.template-help.com/prestashop_58383/img/p/5/0/50-tm_home_default.jpg" alt="Happy Birthday Kalanchoe Basket">
													</a>
													<h5 itemprop="name" class="product-name">
														<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=13&amp;controller=product&amp;id_lang=1" title="Happy Birthday Kalanchoe Basket">Happy Birthday Kalanchoe...</a>
													</h5>
													<p class="price_display">
														<span class="price">$40.00</span>
													</p>
													<div class="clearfix" style="margin-top:5px">
														<div class="no-print">
															<a class="btn btn-default ajax_add_to_cart_button" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?controller=cart&amp;qty=1&amp;id_product=13&amp;token=b8c06725f8ba8af5e140b0764db45415&amp;add=" data-id-product="13" title="Add to cart">
																<span>Add to cart</span>
															</a>
														</div>
													</div>
												</li>
												<li class="product-box item" style="float: left; list-style: none; position: relative; margin-right: 20px; width: 178px;">
													<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=14&amp;controller=product&amp;id_lang=1" class="lnk_img product-image" title="Happy Birthday Vibrant Exquisite Arrangement">
														<img src="https://ld-prestashop.template-help.com/prestashop_58383/img/p/6/0/60-tm_home_default.jpg" alt="Happy Birthday Vibrant Exquisite Arrangement">
													</a>
													<h5 itemprop="name" class="product-name">
														<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=14&amp;controller=product&amp;id_lang=1" title="Happy Birthday Vibrant Exquisite Arrangement">Happy Birthday Vibrant...</a>
													</h5>
													<p class="price_display">
														<span class="price">$34.00</span>
													</p>
													<div class="clearfix" style="margin-top:5px">
														<div class="no-print">
															<a class="btn btn-default ajax_add_to_cart_button" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?controller=cart&amp;qty=1&amp;id_product=14&amp;token=b8c06725f8ba8af5e140b0764db45415&amp;add=" data-id-product="14" title="Add to cart">
																<span>Add to cart</span>
															</a>
														</div>
													</div>
												</li>
												<li class="product-box item" style="float: left; list-style: none; position: relative; margin-right: 20px; width: 178px;">
													<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=15&amp;controller=product&amp;id_lang=1" class="lnk_img product-image" title="Heavenly Red Rose Hand tied">
														<img src="https://ld-prestashop.template-help.com/prestashop_58383/img/p/6/1/61-tm_home_default.jpg" alt="Heavenly Red Rose Hand tied">
													</a>
													<h5 itemprop="name" class="product-name">
														<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=15&amp;controller=product&amp;id_lang=1" title="Heavenly Red Rose Hand tied">Heavenly Red Rose Hand tied</a>
													</h5>
													<p class="price_display">
														<span class="price">$32.00</span>
													</p>
													<div class="clearfix" style="margin-top:5px">
														<div class="no-print">
															<a class="btn btn-default ajax_add_to_cart_button" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?controller=cart&amp;qty=1&amp;id_product=15&amp;token=b8c06725f8ba8af5e140b0764db45415&amp;add=" data-id-product="15" title="Add to cart">
																<span>Add to cart</span>
															</a>
														</div>
													</div>
												</li>
												<li class="product-box item" style="float: left; list-style: none; position: relative; margin-right: 20px; width: 178px;">
													<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=16&amp;controller=product&amp;id_lang=1" class="lnk_img product-image" title="Julien Macdonald Dazzling Autumn Rose Hand tied">
														<img src="https://ld-prestashop.template-help.com/prestashop_58383/img/p/7/2/72-tm_home_default.jpg" alt="Julien Macdonald Dazzling Autumn Rose Hand tied">
													</a>
													<h5 itemprop="name" class="product-name">
														<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=16&amp;controller=product&amp;id_lang=1" title="Julien Macdonald Dazzling Autumn Rose Hand tied">Julien Macdonald Dazzling...</a>
													</h5>
													<p class="price_display">
														<span class="price special-price">$19.20</span>
														<span class="price-percent-reduction small">-20%</span>
														<span class="old-price">$24.00</span>
													</p>
													<div class="clearfix" style="margin-top:5px">
														<div class="no-print">
															<a class="btn btn-default ajax_add_to_cart_button" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?controller=cart&amp;qty=1&amp;id_product=16&amp;token=b8c06725f8ba8af5e140b0764db45415&amp;add=" data-id-product="16" title="Add to cart">
																<span>Add to cart</span>
															</a>
														</div>
													</div>
												</li>
												<li class="product-box item" style="float: left; list-style: none; position: relative; margin-right: 20px; width: 178px;">
													<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=17&amp;controller=product&amp;id_lang=1" class="lnk_img product-image" title="Little Duckling Watering Can Cream with Bailey Bear">
														<img src="https://ld-prestashop.template-help.com/prestashop_58383/img/p/7/6/76-tm_home_default.jpg" alt="Little Duckling Watering Can Cream with Bailey Bear">
													</a>
													<h5 itemprop="name" class="product-name">
														<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=17&amp;controller=product&amp;id_lang=1" title="Little Duckling Watering Can Cream with Bailey Bear">Little Duckling Watering...</a>
													</h5>
													<p class="price_display">
														<span class="price special-price">$12.80</span>
														<span class="price-percent-reduction small">-20%</span>
														<span class="old-price">$16.00</span>
													</p>
													<div class="clearfix" style="margin-top:5px">
														<div class="no-print">
															<a class="btn btn-default ajax_add_to_cart_button" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?controller=cart&amp;qty=1&amp;id_product=17&amp;token=b8c06725f8ba8af5e140b0764db45415&amp;add=" data-id-product="17" title="Add to cart">
																<span>Add to cart</span>
															</a>
														</div>
													</div>
												</li>
												<li class="product-box item" style="float: left; list-style: none; position: relative; margin-right: 20px; width: 178px;">
													<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=18&amp;controller=product&amp;id_lang=1" class="lnk_img product-image" title="Luxury Grand Prix Rose Hand tied">
														<img src="https://ld-prestashop.template-help.com/prestashop_58383/img/p/8/4/84-tm_home_default.jpg" alt="Luxury Grand Prix Rose Hand tied">
													</a>
													<h5 itemprop="name" class="product-name">
														<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=18&amp;controller=product&amp;id_lang=1" title="Luxury Grand Prix Rose Hand tied">Luxury Grand Prix Rose Hand...</a>
													</h5>
													<p class="price_display">
														<span class="price special-price">$26.40</span>
														<span class="price-percent-reduction small">-20%</span>
														<span class="old-price">$33.00</span>
													</p>
													<div class="clearfix" style="margin-top:5px">
														<div class="no-print">
															<a class="btn btn-default ajax_add_to_cart_button" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?controller=cart&amp;qty=1&amp;id_product=18&amp;token=b8c06725f8ba8af5e140b0764db45415&amp;add=" data-id-product="18" title="Add to cart">
																<span>Add to cart</span>
															</a>
														</div>
													</div>
												</li>
												<li class="product-box item" style="float: left; list-style: none; position: relative; margin-right: 20px; width: 178px;">
													<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=19&amp;controller=product&amp;id_lang=1" class="lnk_img product-image" title="Luxury Red Wine Gift Basket">
														<img src="https://ld-prestashop.template-help.com/prestashop_58383/img/p/8/6/86-tm_home_default.jpg" alt="Luxury Red Wine Gift Basket">
													</a>
													<h5 itemprop="name" class="product-name">
														<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=19&amp;controller=product&amp;id_lang=1" title="Luxury Red Wine Gift Basket">Luxury Red Wine Gift Basket</a>
													</h5>
													<p class="price_display">
														<span class="price special-price">$38.40</span>
														<span class="price-percent-reduction small">-20%</span>
														<span class="old-price">$48.00</span>
													</p>
													<div class="clearfix" style="margin-top:5px">
														<div class="no-print">
															<a class="btn btn-default ajax_add_to_cart_button" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?controller=cart&amp;qty=1&amp;id_product=19&amp;token=b8c06725f8ba8af5e140b0764db45415&amp;add=" data-id-product="19" title="Add to cart">
																<span>Add to cart</span>
															</a>
														</div>
													</div>
												</li>
												<li class="product-box item" style="float: left; list-style: none; position: relative; margin-right: 20px; width: 178px;">
													<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=20&amp;controller=product&amp;id_lang=1" class="lnk_img product-image" title="Mixed Basket Pink and Lilac">
														<img src="https://ld-prestashop.template-help.com/prestashop_58383/img/p/9/6/96-tm_home_default.jpg" alt="Mixed Basket Pink and Lilac">
													</a>
													<h5 itemprop="name" class="product-name">
														<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=20&amp;controller=product&amp;id_lang=1" title="Mixed Basket Pink and Lilac">Mixed Basket Pink and Lilac</a>
													</h5>
													<p class="price_display">
														<span class="price">$52.00</span>
													</p>
													<div class="clearfix" style="margin-top:5px">
														<div class="no-print">
															<a class="btn btn-default ajax_add_to_cart_button" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?controller=cart&amp;qty=1&amp;id_product=20&amp;token=b8c06725f8ba8af5e140b0764db45415&amp;add=" data-id-product="20" title="Add to cart">
																<span>Add to cart</span>
															</a>
														</div>
													</div>
												</li>
												<li class="product-box item" style="float: left; list-style: none; position: relative; margin-right: 20px; width: 178px;">
													<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=21&amp;controller=product&amp;id_lang=1" class="lnk_img product-image" title="New Baby Vibrant Hand tied or Vase">
														<img src="https://ld-prestashop.template-help.com/prestashop_58383/img/p/1/0/2/102-tm_home_default.jpg" alt="New Baby Vibrant Hand tied or Vase">
													</a>
													<h5 itemprop="name" class="product-name">
														<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=21&amp;controller=product&amp;id_lang=1" title="New Baby Vibrant Hand tied or Vase">New Baby Vibrant Hand tied...</a>
													</h5>
													<p class="price_display">
														<span class="price">$26.00</span>
													</p>
													<div class="clearfix" style="margin-top:5px">
														<div class="no-print">
															<a class="btn btn-default ajax_add_to_cart_button" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?controller=cart&amp;qty=1&amp;id_product=21&amp;token=b8c06725f8ba8af5e140b0764db45415&amp;add=" data-id-product="21" title="Add to cart">
																<span>Add to cart</span>
															</a>
														</div>
													</div>
												</li>
												<li class="product-box item" style="float: left; list-style: none; position: relative; margin-right: 20px; width: 178px;">
													<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=23&amp;controller=product&amp;id_lang=1" class="lnk_img product-image" title="Pink Perfect Gift">
														<img src="https://ld-prestashop.template-help.com/prestashop_58383/img/p/1/0/8/108-tm_home_default.jpg" alt="Pink Perfect Gift">
													</a>
													<h5 itemprop="name" class="product-name">
														<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=23&amp;controller=product&amp;id_lang=1" title="Pink Perfect Gift">Pink Perfect Gift</a>
													</h5>
													<p class="price_display">
														<span class="price">$27.00</span>
													</p>
													<div class="clearfix" style="margin-top:5px">
														<div class="no-print">
															<a class="btn btn-default ajax_add_to_cart_button" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?controller=cart&amp;qty=1&amp;id_product=23&amp;token=b8c06725f8ba8af5e140b0764db45415&amp;add=" data-id-product="23" title="Add to cart">
																<span>Add to cart</span>
															</a>
														</div>
													</div>
												</li>
												<li class="product-box item" style="float: left; list-style: none; position: relative; margin-right: 20px; width: 178px;">
													<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=24&amp;controller=product&amp;id_lang=1" class="lnk_img product-image" title="Gerbera and Vanda Orchid Arrangement">
														<img src="https://ld-prestashop.template-help.com/prestashop_58383/img/p/1/1/2/112-tm_home_default.jpg" alt="Gerbera and Vanda Orchid Arrangement">
													</a>
													<h5 itemprop="name" class="product-name">
														<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=24&amp;controller=product&amp;id_lang=1" title="Gerbera and Vanda Orchid Arrangement">Gerbera and Vanda Orchid...</a>
													</h5>
													<p class="price_display">
														<span class="price">$30.00</span>
													</p>
													<div class="clearfix" style="margin-top:5px">
														<div class="no-print">
															<a class="btn btn-default ajax_add_to_cart_button" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?controller=cart&amp;qty=1&amp;id_product=24&amp;token=b8c06725f8ba8af5e140b0764db45415&amp;add=" data-id-product="24" title="Add to cart">
																<span>Add to cart</span>
															</a>
														</div>
													</div>
												</li>
												<li class="product-box item" style="float: left; list-style: none; position: relative; margin-right: 20px; width: 178px;">
													<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=25&amp;controller=product&amp;id_lang=1" class="lnk_img product-image" title="Sunflower Hand tied">
														<img src="https://ld-prestashop.template-help.com/prestashop_58383/img/p/1/2/0/120-tm_home_default.jpg" alt="Sunflower Hand tied">
													</a>
													<h5 itemprop="name" class="product-name">
														<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=25&amp;controller=product&amp;id_lang=1" title="Sunflower Hand tied">Sunflower Hand tied</a>
													</h5>
													<p class="price_display">
														<span class="price">$20.00</span>
													</p>
													<div class="clearfix" style="margin-top:5px">
														<div class="no-print">
															<a class="btn btn-default ajax_add_to_cart_button" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?controller=cart&amp;qty=1&amp;id_product=25&amp;token=b8c06725f8ba8af5e140b0764db45415&amp;add=" data-id-product="25" title="Add to cart">
																<span>Add to cart</span>
															</a>
														</div>
													</div>
												</li>
												<li class="product-box item" style="float: left; list-style: none; position: relative; margin-right: 20px; width: 178px;">
													<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=26&amp;controller=product&amp;id_lang=1" class="lnk_img product-image" title="Grand Prix Rose Hand tied">
														<img src="https://ld-prestashop.template-help.com/prestashop_58383/img/p/1/2/1/121-tm_home_default.jpg" alt="Grand Prix Rose Hand tied">
													</a>
													<h5 itemprop="name" class="product-name">
														<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=26&amp;controller=product&amp;id_lang=1" title="Grand Prix Rose Hand tied">Grand Prix Rose Hand tied</a>
													</h5>
													<p class="price_display">
														<span class="price">$80.00</span>
													</p>
													<div class="clearfix" style="margin-top:5px">
														<div class="no-print">
															<a class="btn btn-default ajax_add_to_cart_button" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?controller=cart&amp;qty=1&amp;id_product=26&amp;token=b8c06725f8ba8af5e140b0764db45415&amp;add=" data-id-product="26" title="Add to cart">
																<span>Add to cart</span>
															</a>
														</div>
													</div>
												</li>
												<li class="product-box item" style="float: left; list-style: none; position: relative; margin-right: 20px; width: 178px;">
													<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=27&amp;controller=product&amp;id_lang=1" class="lnk_img product-image" title="Vera Wang Purest Grace">
														<img src="https://ld-prestashop.template-help.com/prestashop_58383/img/p/1/3/1/131-tm_home_default.jpg" alt="Vera Wang Purest Grace">
													</a>
													<h5 itemprop="name" class="product-name">
														<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=27&amp;controller=product&amp;id_lang=1" title="Vera Wang Purest Grace">Vera Wang Purest Grace</a>
													</h5>
													<p class="price_display">
														<span class="price">$110.00</span>
													</p>
													<div class="clearfix" style="margin-top:5px">
														<div class="no-print">
															<a class="btn btn-default ajax_add_to_cart_button" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?controller=cart&amp;qty=1&amp;id_product=27&amp;token=b8c06725f8ba8af5e140b0764db45415&amp;add=" data-id-product="27" title="Add to cart">
																<span>Add to cart</span>
															</a>
														</div>
													</div>
												</li>
												<li class="product-box item" style="float: left; list-style: none; position: relative; margin-right: 20px; width: 178px;">
													<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=28&amp;controller=product&amp;id_lang=1" class="lnk_img product-image" title="White Radiance Hand-tied">
														<img src="https://ld-prestashop.template-help.com/prestashop_58383/img/p/1/3/3/133-tm_home_default.jpg" alt="White Radiance Hand-tied">
													</a>
													<h5 itemprop="name" class="product-name">
														<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=28&amp;controller=product&amp;id_lang=1" title="White Radiance Hand-tied">White Radiance Hand-tied</a>
													</h5>
													<p class="price_display">
														<span class="price">$90.00</span>
													</p>
													<div class="clearfix" style="margin-top:5px">
														<div class="no-print">
															<a class="btn btn-default ajax_add_to_cart_button" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?controller=cart&amp;qty=1&amp;id_product=28&amp;token=b8c06725f8ba8af5e140b0764db45415&amp;add=" data-id-product="28" title="Add to cart">
																<span>Add to cart</span>
															</a>
														</div>
													</div>
												</li>
											</ul>
										</div><div class="bx-controls bx-has-controls-direction"><div class="bx-controls-direction"><a class="bx-prev disabled" href=""></a><a class="bx-next" href=""></a></div></div>
									</div>
								</div>
							</section>

						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>