<div class="columns-container">
	<div id="columns" class="container">

	
		<div id="slider_row" class="row">
		</div>
		<div class="row">
			<div class="large-left col-sm-12">
				<div class="row">
					<div id="center_column" class="center_column col-xs-12 col-sm-9 accordionBox">
						<div class="content_scene_cat">

							<div class="content_scene_cat_bg row">
								<div class="category-image hidden-xs col-xs-12 col-sm-5 col-md-4 col-lg-3">
									<img class="img-responsive" src="https://ld-prestashop.template-help.com/prestashop_58383/img/c/14-tm_category_default.jpg" alt="Flower gallery">
								</div>
								<div class="cat_desc col-xs-12 col-sm-7 col-md-8 col-lg-9">
									<span class="category-name">
										Flower gallery
									</span>
									<div id="category_description_short" class="rte"><p><span>&nbsp; &nbsp;&nbsp;What do we do when we want to show our thankfulness? We send a card, a gift or something like that. But the most traditional thing that we do is to present flowers. They are a universal gift and believe us - even if you are not a fan, it doesn’t matter because it is very pleasant to receive flowers. They are unique and they are worth our adm...</span></p></div>
									<div id="category_description_full" class="unvisible rte"><p><span>&nbsp; &nbsp;&nbsp;What do we do when we want to show our thankfulness? We send a card, a gift or something like that. But the most traditional thing that we do is to present flowers. They are a universal gift and believe us - even if you are not a fan, it doesn’t matter because it is very pleasant to receive flowers. They are unique and they are worth our admiring. Flowers are one of the best nature’s miracles because what could be more innocent and more beautiful than flowers?&nbsp;</span></p></div>
									<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_category=14&amp;controller=category&amp;id_lang=1" class="lnk_more" title="More">More</a>
								</div>
							</div>
						</div>
						<h1 class="page-heading product-listing">
							<span class="cat-name">Flower gallery </span>
							<span class="heading-counter">There are 20 products.</span>
						</h1>
						<div class="content_sortPagiBar clearfix">
							<div class="sortPagiBar clearfix">
								<ul class="display hidden-xs">
									<li class="display-title">View:</li>
									<li id="grid" class="selected">
										<a rel="nofollow" href="#" title="Grid">
											<i class="fl-bigmug-line-four87"></i>
											<span>Grid</span>
										</a>
									</li>
									<li id="list">
										<a rel="nofollow" href="#" title="List">
											<i class="fl-bigmug-line-menu40"></i>
											<span>List</span>
										</a>
									</li>
								</ul>
								<form id="productsSortForm" action="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_category=14&amp;controller=category&amp;id_lang=1&amp;id_lang=1" class="productsSortForm">
									<div class="select selector1">
										<label for="selectProductSort">Sort by</label>
										<div class="selector" id="uniform-selectProductSort" style="width: 182px;">
											<span style="width: 170px; user-select: none;">--</span><select id="selectProductSort" class="selectProductSort form-control">
												<option value="position:asc" selected="selected">--</option>
												<option value="price:asc">Price: Lowest first</option>
												<option value="price:desc">Price: Highest first</option>
												<option value="name:asc">Product Name: A to Z</option>
												<option value="name:desc">Product Name: Z to A</option>
												<option value="quantity:desc">In stock</option>
												<option value="reference:asc">Reference: Lowest first</option>
												<option value="reference:desc">Reference: Highest first</option>
											</select>
										</div>
									</div>
								</form>


								<form action="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_category=14&amp;controller=category&amp;id_lang=1" method="get" class="nbrItemPage">
									<div class="clearfix selector1">
										<label for="nb_item">
											Show
										</label>
										<input type="hidden" name="id_lang" value="1">
										<input type="hidden" name="id_category" value="14">
										<input type="hidden" name="controller" value="category">
										<div class="selector" id="uniform-nb_item" style="width: 70px;">
											<span style="width: 58px; user-select: none;">6</span><select name="n" id="nb_item" class="form-control">
												<option value="6" selected="selected">6</option>
												<option value="12">12</option>
												<option value="30">30</option>
											</select>
										</div>
										<span>per page</span>
									</div>
								</form>

							</div>
						</div>

						<ul class="product_list grid row">
							<li class="ajax_block_product col-xs-12 col-sm-6 col-md-4 first-in-line first-item-of-tablet-line first-item-of-mobile-line" style="opacity: 1; transform: translate3d(0px, 0px, 0px);">
								<div class="product-container" itemscope="" itemtype="https://schema.org/Product">
									<div class="left-block">
										<div class="product-image-container">
											<a class="product_img_link" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=8&amp;controller=product&amp;id_lang=1" title="Autumn Basket" itemprop="url">
												<img class="replace-2x img-responsive" src="https://ld-prestashop.template-help.com/prestashop_58383/img/p/2/4/24-tm_home_default.jpg" alt="Autumn Basket" title="Autumn Basket" itemprop="image">
											</a>
											<a class="quick-view" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=8&amp;controller=product&amp;id_lang=1" data-href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=8&amp;controller=product&amp;id_lang=1">
												<span>Quick view</span>
											</a>
											<div class="buttons-wrap">
												<div class="button-container">
													<a class="customization" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=8&amp;controller=product&amp;id_lang=1" title="Customize">
														<span>Customize</span>
													</a>
												</div>
												<div class="wishlist">
													<a class="addToWishlist wishlistProd_8" href="#" data-id-product="8" onclick="WishlistCart('wishlist_block_list', 'add', '8', false, 1); return false;">
														<span>Add to Wishlist</span>
													</a>
												</div>
												<div class="compare">
													<a class="add_to_compare" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=8&amp;controller=product&amp;id_lang=1" data-id-product="8" title="Add to Compare"><span>Add to Compare</span></a>
												</div>
											</div>
											<a class="sale-box" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=8&amp;controller=product&amp;id_lang=1">
												<span class="sale-label">Sale!</span>
											</a>
										</div>
									</div>
									<div class="right-block">
										<h5 itemprop="name">
											<a class="product-name" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=8&amp;controller=product&amp;id_lang=1" title="Autumn Basket" itemprop="url">
												<span class="list-name">Autumn Basket</span>
												<span class="grid-name">Autumn Basket</span>
											</a>
										</h5>
										<p class="product-desc" itemprop="description">
											<span class="list-desc">&nbsp; &nbsp; What do we do when we want to show our thankfulness? We send a card, a gift or something like that. But the most traditional thing that we do is to present flowers. They are a universal gift and believe us - even if you are not a fan, it doesn’t matter because it is very pleasant to receive flowers.&nbsp;</span>
											<span class="grid-desc">&nbsp; &nbsp; What do we do when we want to...</span>
										</p>
										<div class="content_price">
											<span class="price product-price product-price-new">
												$16.00
											</span>
											<span class="old-price product-price">
												$20.00
											</span>
											<span class="price-percent-reduction">-20%</span>
										</div>
										<div class="color-list-container">
											<ul class="color_to_pick_list clearfix">
												<li>
													<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=8&amp;controller=product&amp;id_lang=1#/10-color-red/25-size-standard/30-flower_by_type-daisies" id="color_52" class="color_pick" style="background:#E84C3D;">
													</a>
												</li>
												<li>
													<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=8&amp;controller=product&amp;id_lang=1#/13-color-orange/25-size-standard/30-flower_by_type-daisies" id="color_53" class="color_pick" style="background:#F39C11;">
													</a>
												</li>
											</ul>
										</div>
										<div class="product-flags">
										</div>
										<span class="availability">
											<span class=" label-success">
												In Stock
											</span>
										</span>
									</div>
								</div>
							</li>
							<li class="ajax_block_product col-xs-12 col-sm-6 col-md-4 last-item-of-tablet-line last-item-of-mobile-line" style="opacity: 1; transform: translate3d(0px, 0px, 0px);">
								<div class="product-container" itemscope="" itemtype="https://schema.org/Product">
									<div class="left-block">
										<div class="product-image-container">
											<a class="product_img_link" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=9&amp;controller=product&amp;id_lang=1" title="Autumn Shades Perfect Gift" itemprop="url">
												<img class="replace-2x img-responsive" src="https://ld-prestashop.template-help.com/prestashop_58383/img/p/3/0/30-tm_home_default.jpg" alt="Autumn Shades Perfect Gift" title="Autumn Shades Perfect Gift" itemprop="image">
											</a>
											<a class="quick-view" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=9&amp;controller=product&amp;id_lang=1" data-href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=9&amp;controller=product&amp;id_lang=1">
												<span>Quick view</span>
											</a>
											<div class="buttons-wrap">
												<div class="button-container">
													<a itemprop="url" class="lnk_view btn btn-default" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=9&amp;controller=product&amp;id_lang=1" title="View">
														<span>More</span>
													</a>
												</div>
												<div class="wishlist">
													<a class="addToWishlist wishlistProd_9" href="#" data-id-product="9" onclick="WishlistCart('wishlist_block_list', 'add', '9', false, 1); return false;">
														<span>Add to Wishlist</span>
													</a>
												</div>
												<div class="compare">
													<a class="add_to_compare" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=9&amp;controller=product&amp;id_lang=1" data-id-product="9" title="Add to Compare"><span>Add to Compare</span></a>
												</div>
											</div>
											<a class="sale-box" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=9&amp;controller=product&amp;id_lang=1">
												<span class="sale-label">Sale!</span>
											</a>
										</div>
									</div>
									<div class="right-block">
										<h5 itemprop="name">
											<a class="product-name" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=9&amp;controller=product&amp;id_lang=1" title="Autumn Shades Perfect Gift" itemprop="url">
												<span class="list-name">Autumn Shades Perfect Gift</span>
												<span class="grid-name">Autumn Shades Perfect Gift</span>
											</a>
										</h5>
										<p class="product-desc" itemprop="description">
											<span class="list-desc">What do we do when we want to show our thankfulness? We send a card, a gift or something like that. But the most traditional thing that we do is to present flowers. They are a universal gift and believe us - even if you are not a fan, it doesn’t matter because it is very pleasant to receive flowers.&nbsp;</span>
											<span class="grid-desc">What do we do when we want to show...</span>
										</p>
										<div class="content_price">
											<span class="price product-price product-price-new">
												$25.60
											</span>
											<span class="old-price product-price">
												$32.00
											</span>
											<span class="price-percent-reduction">-20%</span>
										</div>
										<div class="color-list-container"></div>
										<div class="product-flags">
										</div>
										<span class="availability">
											<span class="label-danger">
												Out of stock
											</span>
										</span>
									</div>
								</div>
							</li>
							<li class="ajax_block_product col-xs-12 col-sm-6 col-md-4 last-in-line first-item-of-tablet-line first-item-of-mobile-line" style="opacity: 1; transform: translate3d(0px, 0px, 0px);">
								<div class="product-container" itemscope="" itemtype="https://schema.org/Product">
									<div class="left-block">
										<div class="product-image-container">
											<a class="product_img_link" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=10&amp;controller=product&amp;id_lang=1" title="Baby-Boy Perfect Gift" itemprop="url">
												<img class="replace-2x img-responsive" src="https://ld-prestashop.template-help.com/prestashop_58383/img/p/3/1/31-tm_home_default.jpg" alt="Baby-Boy Perfect Gift" title="Baby-Boy Perfect Gift" itemprop="image">
											</a>
											<a class="quick-view" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=10&amp;controller=product&amp;id_lang=1" data-href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=10&amp;controller=product&amp;id_lang=1">
												<span>Quick view</span>
											</a>
											<div class="buttons-wrap">
												<div class="button-container">
													<a class="ajax_add_to_cart_button" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?controller=cart&amp;add=1&amp;id_product=10&amp;ipa=88&amp;token=b8c06725f8ba8af5e140b0764db45415" rel="nofollow" title="Add to cart" data-id-product-attribute="88" data-id-product="10" data-minimal_quantity="1">
														<span>Add to cart</span>
													</a>
													<a itemprop="url" class="lnk_view btn btn-default" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=10&amp;controller=product&amp;id_lang=1" title="View">
														<span>More</span>
													</a>
												</div>
												<div class="wishlist">
													<a class="addToWishlist wishlistProd_10" href="#" data-id-product="10" onclick="WishlistCart('wishlist_block_list', 'add', '10', false, 1); return false;">
														<span>Add to Wishlist</span>
													</a>
												</div>
												<div class="compare">
													<a class="add_to_compare" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=10&amp;controller=product&amp;id_lang=1" data-id-product="10" title="Add to Compare"><span>Add to Compare</span></a>
												</div>
											</div>
											<a class="sale-box" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=10&amp;controller=product&amp;id_lang=1">
												<span class="sale-label">Sale!</span>
											</a>
										</div>
									</div>
									<div class="right-block">
										<h5 itemprop="name">
											<a class="product-name" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=10&amp;controller=product&amp;id_lang=1" title="Baby-Boy Perfect Gift" itemprop="url">
												<span class="list-name">Baby-Boy Perfect Gift</span>
												<span class="grid-name">Baby-Boy Perfect Gift</span>
											</a>
										</h5>
										<p class="product-desc" itemprop="description">
											<span class="list-desc">What do we do when we want to show our thankfulness? We send a card, a gift or something like that. But the most traditional thing that we do is to present flowers. They are a universal gift and believe us - even if you are not a fan, it doesn’t matter because it is very pleasant to receive flowers.&nbsp;</span>
											<span class="grid-desc">What do we do when we want to show...</span>
										</p>
										<div class="content_price">
											<span class="price product-price product-price-new">
												$22.40
											</span>
											<span class="old-price product-price">
												$28.00
											</span>
											<span class="price-percent-reduction">-20%</span>
										</div>
										<div class="color-list-container">
											<ul class="color_to_pick_list clearfix">
												<li>
													<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=10&amp;controller=product&amp;id_lang=1#/8-color-white/25-size-standard/28-flower_by_type-roses" id="color_88" class="color_pick" style="background:#ffffff;">
													</a>
												</li>
												<li>
													<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=10&amp;controller=product&amp;id_lang=1#/14-color-blue/25-size-standard/28-flower_by_type-roses" id="color_89" class="color_pick" style="background:#5D9CEC;">
													</a>
												</li>
											</ul>
										</div>
										<div class="product-flags">
										</div>
										<span class="availability">
											<span class=" label-success">
												In Stock
											</span>
										</span>
									</div>
								</div>
							</li>
							<li class="ajax_block_product col-xs-12 col-sm-6 col-md-4 first-in-line last-line last-item-of-tablet-line last-item-of-mobile-line" style="opacity: 1; transform: translate3d(0px, 0px, 0px);">
								<div class="product-container" itemscope="" itemtype="https://schema.org/Product">
									<div class="left-block">
										<div class="product-image-container">
											<a class="product_img_link" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=11&amp;controller=product&amp;id_lang=1" title="Fairtrade Golden Autumn Hand tied" itemprop="url">
												<img class="replace-2x img-responsive" src="https://ld-prestashop.template-help.com/prestashop_58383/img/p/3/2/32-tm_home_default.jpg" alt="Fairtrade Golden Autumn Hand tied" title="Fairtrade Golden Autumn Hand tied" itemprop="image">
											</a>
											<a class="quick-view" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=11&amp;controller=product&amp;id_lang=1" data-href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=11&amp;controller=product&amp;id_lang=1">
												<span>Quick view</span>
											</a>
											<div class="buttons-wrap">
												<div class="button-container">
													<a class="ajax_add_to_cart_button" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?controller=cart&amp;add=1&amp;id_product=11&amp;ipa=112&amp;token=b8c06725f8ba8af5e140b0764db45415" rel="nofollow" title="Add to cart" data-id-product-attribute="112" data-id-product="11" data-minimal_quantity="1">
														<span>Add to cart</span>
													</a>
													<a itemprop="url" class="lnk_view btn btn-default" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=11&amp;controller=product&amp;id_lang=1" title="View">
														<span>More</span>
													</a>
												</div>
												<div class="wishlist">
													<a class="addToWishlist wishlistProd_11" href="#" data-id-product="11" onclick="WishlistCart('wishlist_block_list', 'add', '11', false, 1); return false;">
														<span>Add to Wishlist</span>
													</a>
												</div>
												<div class="compare">
													<a class="add_to_compare" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=11&amp;controller=product&amp;id_lang=1" data-id-product="11" title="Add to Compare"><span>Add to Compare</span></a>
												</div>
											</div>
											<a class="sale-box" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=11&amp;controller=product&amp;id_lang=1">
												<span class="sale-label">Sale!</span>
											</a>
										</div>
									</div>
									<div class="right-block">
										<h5 itemprop="name">
											<a class="product-name" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=11&amp;controller=product&amp;id_lang=1" title="Fairtrade Golden Autumn Hand tied" itemprop="url">
												<span class="list-name">Fairtrade Golden Autumn Hand tied</span>
												<span class="grid-name">Fairtrade Golden Autumn Hand tied</span>
											</a>
										</h5>
										<p class="product-desc" itemprop="description">
											<span class="list-desc">What do we do when we want to show our thankfulness? We send a card, a gift or something like that. But the most traditional thing that we do is to present flowers. They are a universal gift and believe us - even if you are not a fan, it doesn’t matter because it is very pleasant to receive flowers.&nbsp;</span>
											<span class="grid-desc">What do we do when we want to show...</span>
										</p>
										<div class="content_price">
											<span class="price product-price product-price-new">
												$12.80
											</span>
											<span class="old-price product-price">
												$16.00
											</span>
											<span class="price-percent-reduction">-20%</span>
										</div>
										<div class="color-list-container">
											<ul class="color_to_pick_list clearfix">
												<li>
													<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=11&amp;controller=product&amp;id_lang=1#/10-color-red/25-size-standard/28-flower_by_type-roses" id="color_112" class="color_pick" style="background:#E84C3D;">
													</a>
												</li>
												<li>
													<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=11&amp;controller=product&amp;id_lang=1#/16-color-yellow/25-size-standard/28-flower_by_type-roses" id="color_113" class="color_pick" style="background:#F1C40F;">
													</a>
												</li>
											</ul>
										</div>
										<div class="product-flags">
										</div>
										<span class="availability">
											<span class=" label-success">
												In Stock
											</span>
										</span>
									</div>
								</div>
							</li>
							<li class="ajax_block_product col-xs-12 col-sm-6 col-md-4 last-line first-item-of-tablet-line first-item-of-mobile-line last-mobile-line" style="opacity: 1; transform: translate3d(0px, 0px, 0px);">
								<div class="product-container" itemscope="" itemtype="https://schema.org/Product">
									<div class="left-block">
										<div class="product-image-container">
											<a class="product_img_link" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=12&amp;controller=product&amp;id_lang=1" title="Happy Birthday Autumn Brights Globe" itemprop="url">
												<img class="replace-2x img-responsive" src="https://ld-prestashop.template-help.com/prestashop_58383/img/p/4/8/48-tm_home_default.jpg" alt="Happy Birthday Autumn Brights Globe" title="Happy Birthday Autumn Brights Globe" itemprop="image">
											</a>
											<a class="quick-view" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=12&amp;controller=product&amp;id_lang=1" data-href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=12&amp;controller=product&amp;id_lang=1">
												<span>Quick view</span>
											</a>
											<div class="buttons-wrap">
												<div class="button-container">
													<a class="ajax_add_to_cart_button" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?controller=cart&amp;add=1&amp;id_product=12&amp;ipa=140&amp;token=b8c06725f8ba8af5e140b0764db45415" rel="nofollow" title="Add to cart" data-id-product-attribute="140" data-id-product="12" data-minimal_quantity="1">
														<span>Add to cart</span>
													</a>
													<a itemprop="url" class="lnk_view btn btn-default" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=12&amp;controller=product&amp;id_lang=1" title="View">
														<span>More</span>
													</a>
												</div>
												<div class="wishlist">
													<a class="addToWishlist wishlistProd_12" href="#" data-id-product="12" onclick="WishlistCart('wishlist_block_list', 'add', '12', false, 1); return false;">
														<span>Add to Wishlist</span>
													</a>
												</div>
												<div class="compare">
													<a class="add_to_compare" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=12&amp;controller=product&amp;id_lang=1" data-id-product="12" title="Add to Compare"><span>Add to Compare</span></a>
												</div>
											</div>
										</div>
									</div>
									<div class="right-block">
										<h5 itemprop="name">
											<a class="product-name" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=12&amp;controller=product&amp;id_lang=1" title="Happy Birthday Autumn Brights Globe" itemprop="url">
												<span class="list-name">Happy Birthday Autumn Brights Globe</span>
												<span class="grid-name">Happy Birthday Autumn Brights Globe</span>
											</a>
										</h5>
										<p class="product-desc" itemprop="description">
											<span class="list-desc">&nbsp; &nbsp; What do we do when we want to show our thankfulness? We send a card, a gift or something like that. But the most traditional thing that we do is to present flowers. They are a universal gift and believe us - even if you are not a fan, it doesn’t matter because it is very pleasant to receive flowers.</span>
											<span class="grid-desc">&nbsp; &nbsp; What do we do when we want to...</span>
										</p>
										<div class="content_price">
											<span class="price product-price">
												$27.00
											</span>
										</div>
										<div class="color-list-container">
											<ul class="color_to_pick_list clearfix">
												<li>
													<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=12&amp;controller=product&amp;id_lang=1#/10-color-red/25-size-standard/29-flower_by_type-lilies" id="color_140" class="color_pick" style="background:#E84C3D;">
													</a>
												</li>
												<li>
													<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=12&amp;controller=product&amp;id_lang=1#/24-color-pink/25-size-standard/29-flower_by_type-lilies" id="color_141" class="color_pick" style="background:#FCCACD;">
													</a>
												</li>
											</ul>
										</div>
										<div class="product-flags">
										</div>
										<span class="availability">
											<span class=" label-success">
												In Stock
											</span>
										</span>
									</div>
								</div>
							</li>
							<li class="ajax_block_product col-xs-12 col-sm-6 col-md-4 last-in-line last-line last-item-of-tablet-line last-item-of-mobile-line last-mobile-line" style="opacity: 1; transform: translate3d(0px, 0px, 0px);">
								<div class="product-container" itemscope="" itemtype="https://schema.org/Product">
									<div class="left-block">
										<div class="product-image-container">
											<a class="product_img_link" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=13&amp;controller=product&amp;id_lang=1" title="Happy Birthday Kalanchoe Basket" itemprop="url">
												<img class="replace-2x img-responsive" src="https://ld-prestashop.template-help.com/prestashop_58383/img/p/5/0/50-tm_home_default.jpg" alt="Happy Birthday Kalanchoe Basket" title="Happy Birthday Kalanchoe Basket" itemprop="image">
											</a>
											<a class="quick-view" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=13&amp;controller=product&amp;id_lang=1" data-href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=13&amp;controller=product&amp;id_lang=1">
												<span>Quick view</span>
											</a>
											<div class="buttons-wrap">
												<div class="button-container">
													<a class="ajax_add_to_cart_button" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?controller=cart&amp;add=1&amp;id_product=13&amp;ipa=164&amp;token=b8c06725f8ba8af5e140b0764db45415" rel="nofollow" title="Add to cart" data-id-product-attribute="164" data-id-product="13" data-minimal_quantity="1">
														<span>Add to cart</span>
													</a>
													<a itemprop="url" class="lnk_view btn btn-default" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=13&amp;controller=product&amp;id_lang=1" title="View">
														<span>More</span>
													</a>
												</div>
												<div class="wishlist">
													<a class="addToWishlist wishlistProd_13" href="#" data-id-product="13" onclick="WishlistCart('wishlist_block_list', 'add', '13', false, 1); return false;">
														<span>Add to Wishlist</span>
													</a>
												</div>
												<div class="compare">
													<a class="add_to_compare" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=13&amp;controller=product&amp;id_lang=1" data-id-product="13" title="Add to Compare"><span>Add to Compare</span></a>
												</div>
											</div>
										</div>
									</div>
									<div class="right-block">
										<h5 itemprop="name">
											<a class="product-name" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=13&amp;controller=product&amp;id_lang=1" title="Happy Birthday Kalanchoe Basket" itemprop="url">
												<span class="list-name">Happy Birthday Kalanchoe Basket</span>
												<span class="grid-name">Happy Birthday Kalanchoe Basket</span>
											</a>
										</h5>
										<p class="product-desc" itemprop="description">
											<span class="list-desc">&nbsp; &nbsp; What do we do when we want to show our thankfulness? We send a card, a gift or something like that. But the most traditional thing that we do is to present flowers. They are a universal gift and believe us - even if you are not a fan, it doesn’t matter because it is very pleasant to receive flowers.</span>
											<span class="grid-desc">&nbsp; &nbsp; What do we do when we want to...</span>
										</p>
										<div class="content_price">
											<span class="price product-price">
												$40.00
											</span>
										</div>
										<div class="color-list-container">
											<ul class="color_to_pick_list clearfix">
												<li>
													<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=13&amp;controller=product&amp;id_lang=1#/8-color-white/25-size-standard/29-flower_by_type-lilies" id="color_164" class="color_pick" style="background:#ffffff;">
													</a>
												</li>
												<li>
													<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=13&amp;controller=product&amp;id_lang=1#/24-color-pink/25-size-standard/29-flower_by_type-lilies" id="color_165" class="color_pick" style="background:#FCCACD;">
													</a>
												</li>
											</ul>
										</div>
										<div class="product-flags">
										</div>
										<span class="availability">
											<span class=" label-success">
												In Stock
											</span>
										</span>
									</div>
								</div>
							</li>
						</ul>
						<div class="content_sortPagiBar">
							<div class="bottom-pagination-content clearfix">
								<form method="post" action="https://ld-prestashop.template-help.com/prestashop_58383/index.php?controller=products-comparison" class="compare-form">
									<button type="submit" class="btn btn-default bt_compare icon-right" disabled="disabled">
										<span>
											Compare
											(<strong class="total-compare-val">0</strong>)
										</span>
									</button>
									<input type="hidden" name="compare_product_count" class="compare_product_count" value="0">
									<input type="hidden" name="compare_product_list" class="compare_product_list" value="">
								</form>

								<div id="pagination_bottom" class="pagination clearfix">
									<form class="showall" action="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_category=14&amp;controller=category&amp;id_lang=1" method="get">
										<div>
											<button type="submit" class="btn btn-default">
												<span>Show all</span>
											</button>
											<input type="hidden" name="id_lang" value="1">
											<input type="hidden" name="id_category" value="14">
											<input type="hidden" name="controller" value="category">
											<input name="n" id="nb_items" class="hidden" value="20">
										</div>
									</form>
									<ul class="pagination">
										<li id="pagination_previous_bottom" class="disabled pagination_previous">
											<span>
												<i class="fa fa-chevron-left"></i>
												<b>Previous</b>
											</span>
										</li>
										<li class="active current">
											<span>
												<span>1</span>
											</span>
										</li>
										<li>
											<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_category=14&amp;controller=category&amp;id_lang=1#/page-2">
												<span>2</span>
											</a>
										</li>
										<li>
											<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_category=14&amp;controller=category&amp;id_lang=1#/page-3">
												<span>3</span>
											</a>
										</li>
										<li>
											<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_category=14&amp;controller=category&amp;id_lang=1#/page-4">
												<span>4</span>
											</a>
										</li>
										<li id="pagination_next_bottom" class="pagination_next">
											<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_category=14&amp;controller=category&amp;id_lang=1#/page-2">
												<b>Next</b> <i class="fa fa-chevron-right"></i>
											</a>
										</li>
									</ul>
								</div>
								<div class="product-count">
									Showing 1 - 6 of 20 items
								</div>

							</div>
						</div>
					</div>
					<div id="left_column" class="column col-xs-12 col-sm-3">
						<section id="layered_block_left" class="block">
							<h4 class="title_block">Catalog</h4>
							<div class="block_content">
								<form action="#" id="layered_form">
									<div>
										<div class="layered_filter">
											<div class="layered_subtitle_heading">
												<span class="layered_subtitle">Availability</span>
											</div>
											<ul id="ul_layered_quantity_0" class="col-lg-12 layered_filter_ul">
												<li class="nomargin hiddable col-lg-12">
													<input type="checkbox" class="checkbox" name="layered_quantity_0" id="layered_quantity_0" value="0">
													<label for="layered_quantity_0">
														<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_category=14&amp;controller=category&amp;id_lang=1#availability-not_available" data-rel="nofollow">
															<strong>Not available</strong>
															<span>1</span>
														</a>
													</label>
												</li>
												<li class="nomargin hiddable col-lg-12">
													<input type="checkbox" class="checkbox" name="layered_quantity_1" id="layered_quantity_1" value="1">
													<label for="layered_quantity_1">
														<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_category=14&amp;controller=category&amp;id_lang=1#availability-in_stock" data-rel="nofollow">
															<strong>In stock</strong>
															<span>19</span>
														</a>
													</label>
												</li>
											</ul>
										</div>
										<div class="layered_filter">
											<div class="layered_subtitle_heading">
												<span class="layered_subtitle">Condition</span>
											</div>
											<ul id="ul_layered_condition_0" class="col-lg-12 layered_filter_ul">
												<li class="nomargin hiddable col-lg-12">
													<input type="checkbox" class="checkbox" name="layered_condition_new" id="layered_condition_new" value="new">
													<label for="layered_condition_new">
														<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_category=14&amp;controller=category&amp;id_lang=1#condition-new" data-rel="nofollow">
															<strong>New</strong>
															<span>20</span>
														</a>
													</label>
												</li>
											</ul>
										</div>
										<div class="layered_filter">
											<div class="layered_subtitle_heading">
												<span class="layered_subtitle">Manufacturer</span>
											</div>
											<ul id="ul_layered_manufacturer_0" class="col-lg-12 layered_filter_ul">
												<li class="nomargin hiddable col-lg-12">
													<input type="checkbox" class="checkbox" name="layered_manufacturer_4" id="layered_manufacturer_4" value="4">
													<label for="layered_manufacturer_4">
														<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_category=14&amp;controller=category&amp;id_lang=1#manufacturer-1_800_flowers" data-rel="nofollow">
															<strong>1-800-flowers</strong>
															<span>2</span>
														</a>
													</label>
												</li>
												<li class="nomargin hiddable col-lg-12">
													<input type="checkbox" class="checkbox" name="layered_manufacturer_7" id="layered_manufacturer_7" value="7">
													<label for="layered_manufacturer_7">
														<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_category=14&amp;controller=category&amp;id_lang=1#manufacturer-appleyard" data-rel="nofollow">
															<strong>Appleyard </strong>
															<span>2</span>
														</a>
													</label>
												</li>
												<li class="nomargin hiddable col-lg-12">
													<input type="checkbox" class="checkbox" name="layered_manufacturer_6" id="layered_manufacturer_6" value="6">
													<label for="layered_manufacturer_6">
														<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_category=14&amp;controller=category&amp;id_lang=1#manufacturer-fromyouflowers" data-rel="nofollow">
															<strong>fromyouflowers</strong>
															<span>2</span>
														</a>
													</label>
												</li>
												<li class="nomargin hiddable col-lg-12">
													<input type="checkbox" class="checkbox" name="layered_manufacturer_9" id="layered_manufacturer_9" value="9">
													<label for="layered_manufacturer_9">
														<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_category=14&amp;controller=category&amp;id_lang=1#manufacturer-gabriela_wakeham" data-rel="nofollow">
															<strong>Gabriela Wakeham</strong>
															<span>2</span>
														</a>
													</label>
												</li>
												<li class="nomargin hiddable col-lg-12">
													<input type="checkbox" class="checkbox" name="layered_manufacturer_3" id="layered_manufacturer_3" value="3">
													<label for="layered_manufacturer_3">
														<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_category=14&amp;controller=category&amp;id_lang=1#manufacturer-interflora" data-rel="nofollow">
															<strong>Interflora</strong>
															<span>2</span>
														</a>
													</label>
												</li>
												<li class="nomargin hiddable col-lg-12">
													<input type="checkbox" class="checkbox" name="layered_manufacturer_11" id="layered_manufacturer_11" value="11">
													<label for="layered_manufacturer_11">
														<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_category=14&amp;controller=category&amp;id_lang=1#manufacturer-organic_blooms" data-rel="nofollow">
															<strong>Organic Blooms</strong>
															<span>2</span>
														</a>
													</label>
												</li>
												<li class="nomargin hiddable col-lg-12">
													<input type="checkbox" class="checkbox" name="layered_manufacturer_8" id="layered_manufacturer_8" value="8">
													<label for="layered_manufacturer_8">
														<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_category=14&amp;controller=category&amp;id_lang=1#manufacturer-pro_flowers" data-rel="nofollow">
															<strong>Pro Flowers</strong>
															<span>2</span>
														</a>
													</label>
												</li>
												<li class="nomargin hiddable col-lg-12">
													<input type="checkbox" class="checkbox" name="layered_manufacturer_5" id="layered_manufacturer_5" value="5">
													<label for="layered_manufacturer_5">
														<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_category=14&amp;controller=category&amp;id_lang=1#manufacturer-serenataflowers" data-rel="nofollow">
															<strong>serenataflowers</strong>
															<span>2</span>
														</a>
													</label>
												</li>
												<li class="nomargin hiddable col-lg-12">
													<input type="checkbox" class="checkbox" name="layered_manufacturer_10" id="layered_manufacturer_10" value="10">
													<label for="layered_manufacturer_10">
														<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_category=14&amp;controller=category&amp;id_lang=1#manufacturer-sydney_flowers" data-rel="nofollow">
															<strong>Sydney Flowers</strong>
															<span>2</span>
														</a>
													</label>
												</li>
												<li class="nomargin hiddable col-lg-12">
													<input type="checkbox" class="checkbox" name="layered_manufacturer_2" id="layered_manufacturer_2" value="2">
													<label for="layered_manufacturer_2">
														<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_category=14&amp;controller=category&amp;id_lang=1#manufacturer-teleflora" data-rel="nofollow">
															<strong>Teleflora</strong>
															<span>2</span>
														</a>
													</label>
												</li>
											</ul>
										</div>
										<div class="layered_price clearfix" style="">
											<div class="layered_subtitle_heading">
												<span class="layered_subtitle">Price</span>
											</div>
											<ul id="ul_layered_price_0" class="col-lg-12 layered_filter_ul">
												<label for="price">
													Range:
												</label>
												<span id="layered_price_range">$12.00 - $114.00</span>
												<div class="layered_slider_container">
													<div class="layered_slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" id="layered_price_slider" data-type="price" data-format="1" data-unit="$" aria-disabled="false">
														<div class="ui-slider-range ui-widget-header ui-corner-all" style="left: 0%; width: 100%;"></div><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 100%;"></a>
													</div>
												</div>
											</ul>
										</div>
										<div class="layered_filter">
											<div class="layered_subtitle_heading">
												<span class="layered_subtitle">Color</span>
											</div>
											<ul id="ul_layered_id_attribute_group_3" class="col-lg-12 layered_filter_ul color-group">
												<li class="nomargin hiddable col-lg-12">
													<input class="color-option  " type="button" name="layered_id_attribute_group_8" data-rel="8_3" id="layered_id_attribute_group_8" style="background: #ffffff;">
													<label for="layered_id_attribute_group_8" name="layered_id_attribute_group_8" class="layered_color" data-rel="8_3">
														<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_category=14&amp;controller=category&amp;id_lang=1#color-white">
															<strong>White</strong>
															<span>8</span>
														</a>
													</label>
												</li>
												<li class="nomargin hiddable col-lg-12">
													<input class="color-option  " type="button" name="layered_id_attribute_group_10" data-rel="10_3" id="layered_id_attribute_group_10" style="background: #E84C3D;">
													<label for="layered_id_attribute_group_10" name="layered_id_attribute_group_10" class="layered_color" data-rel="10_3">
														<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_category=14&amp;controller=category&amp;id_lang=1#color-red">
															<strong>Red</strong>
															<span>9</span>
														</a>
													</label>
												</li>
												<li class="nomargin hiddable col-lg-12">
													<input class="color-option  " type="button" name="layered_id_attribute_group_11" data-rel="11_3" id="layered_id_attribute_group_11" style="background: #434A54;">
													<label for="layered_id_attribute_group_11" name="layered_id_attribute_group_11" class="layered_color" data-rel="11_3">
														<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_category=14&amp;controller=category&amp;id_lang=1#color-black">
															<strong>Black</strong>
															<span>1</span>
														</a>
													</label>
												</li>
												<li class="nomargin hiddable col-lg-12">
													<input class="color-option  " type="button" name="layered_id_attribute_group_13" data-rel="13_3" id="layered_id_attribute_group_13" style="background: #F39C11;">
													<label for="layered_id_attribute_group_13" name="layered_id_attribute_group_13" class="layered_color" data-rel="13_3">
														<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_category=14&amp;controller=category&amp;id_lang=1#color-orange">
															<strong>Orange</strong>
															<span>2</span>
														</a>
													</label>
												</li>
												<li class="nomargin hiddable col-lg-12">
													<input class="color-option  " type="button" name="layered_id_attribute_group_14" data-rel="14_3" id="layered_id_attribute_group_14" style="background: #5D9CEC;">
													<label for="layered_id_attribute_group_14" name="layered_id_attribute_group_14" class="layered_color" data-rel="14_3">
														<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_category=14&amp;controller=category&amp;id_lang=1#color-blue">
															<strong>Blue</strong>
															<span>1</span>
														</a>
													</label>
												</li>
												<li class="nomargin hiddable col-lg-12">
													<input class="color-option  " type="button" name="layered_id_attribute_group_15" data-rel="15_3" id="layered_id_attribute_group_15" style="background: #A0D468;">
													<label for="layered_id_attribute_group_15" name="layered_id_attribute_group_15" class="layered_color" data-rel="15_3">
														<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_category=14&amp;controller=category&amp;id_lang=1#color-green">
															<strong>Green</strong>
															<span>1</span>
														</a>
													</label>
												</li>
												<li class="nomargin hiddable col-lg-12">
													<input class="color-option  " type="button" name="layered_id_attribute_group_16" data-rel="16_3" id="layered_id_attribute_group_16" style="background: #F1C40F;">
													<label for="layered_id_attribute_group_16" name="layered_id_attribute_group_16" class="layered_color" data-rel="16_3">
														<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_category=14&amp;controller=category&amp;id_lang=1#color-yellow">
															<strong>Yellow</strong>
															<span>4</span>
														</a>
													</label>
												</li>
												<li class="nomargin hiddable col-lg-12">
													<input class="color-option  " type="button" name="layered_id_attribute_group_24" data-rel="24_3" id="layered_id_attribute_group_24" style="background: #FCCACD;">
													<label for="layered_id_attribute_group_24" name="layered_id_attribute_group_24" class="layered_color" data-rel="24_3">
														<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_category=14&amp;controller=category&amp;id_lang=1#color-pink">
															<strong>Pink</strong>
															<span>9</span>
														</a>
													</label>
												</li>
											</ul>
										</div>
									</div>
									<input type="hidden" name="id_category_layered" value="14">
								</form>
							</div>
							<div id="layered_ajax_loader" style="display: none;">
								<p>
									<img src="https://ld-prestashop.template-help.com/prestashop_58383/img/loader.gif" alt="">
									<br>Loading...
								</p>
							</div>
						</section>
						<section id="wishlist_block" class="block account">
							<h4 class="title_block">
								<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?fc=module&amp;module=blockwishlist&amp;controller=mywishlist&amp;id_lang=1" title="My wishlists" rel="nofollow">
									Wishlist
								</a>
							</h4>
							<div class="block_content" style="">
								<div id="wishlist_block_list" class="expanded">
									<dl class="products no-products">
										<dt>No products</dt>
										<dd></dd>
									</dl>
								</div>
								<div class="lnk">
									<a class="btn btn-default btn-sm icon-right" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?fc=module&amp;module=blockwishlist&amp;controller=mywishlist&amp;id_lang=1" title="My wishlists">
										<span>
											My wishlists
										</span>
									</a>
								</div>
							</div>
						</section>
						<section id="special_block_right" class="block">
							<h4 class="title_block">
								<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?controller=prices-drop" title="Specials">
									Specials
								</a>
							</h4>
							<div class="block_content products-block" style="">
								<ul>
									<li class="clearfix">
										<a class="products-block-image" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=17&amp;controller=product&amp;id_lang=1">
											<img class="replace-2x img-responsive" src="https://ld-prestashop.template-help.com/prestashop_58383/img/p/7/6/76-tm_small_default.jpg" alt="Little Duckling Watering Can Cream with Bailey Bear" title="Little Duckling Watering Can Cream with Bailey Bear">
										</a>
										<div class="product-content">
											<h5>
												<a class="product-name" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=17&amp;controller=product&amp;id_lang=1" title="Little Duckling Watering Can Cream with Bailey Bear">
													Little Duckling Watering Can Cream with Bailey Bear
												</a>
											</h5>
											<p class="product-description">
												What do we do when we want to show...
											</p>
											<div class="price-box">
												<span class="price special-price">
													$12.80
												</span>
												<span class="price-percent-reduction">-20%</span>
												<span class="old-price">
													$16.00
												</span>
											</div>
										</div>
									</li>
								</ul>
								<div>
									<a class="btn btn-default btn-sm icon-right" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?controller=prices-drop" title="All specials">
										<span>
											All specials
										</span>
									</a>
								</div>
							</div>
						</section>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>