@using Flowers.BL.Products.ProductType
@model Flowers.Web.Models.Products.ProdutcsIndexViewModel

<div class="columns-container">
	<div id="columns" class="container">
		<div class="row">
			<div class="large-left col-sm-12">
				<div class="row">
					<div id="center_column" class="center_column col-xs-12 col-sm-9 accordionBox">
						<h1 class="page-heading product-listing">
							<span class="cat-name">
								@Model.ProductType.ToFriendlyString()
							</span>
							<span class="heading-counter">
								Всего @Model.Count
								@{
									var lastNumber = Model.Count % 10;

									if (lastNumber == 1)
									{
										<text>
											наименование
										</text>
									}
									else if (lastNumber > 1 && lastNumber < 5)
									{
										<text>
											наименования
										</text>
									}
									else if (lastNumber == 0 || lastNumber >= 5)
									{
										<text>
											наименований
										</text>
									}

								}
							</span>

						</h1>

						@*@{
								Html.RenderPartial("__ListFilter");
							}*@



						@{
							Html.RenderPartial("_List", Model.Products);
						}


						@if (Model.Count > Model.Products.Length)
						{
							<div class="content_sortPagiBar">
								<div class="bottom-pagination-content clearfix">

									<div id="pagination_bottom" class="pagination clearfix">
										<ul class="pagination">
											<li id="pagination_previous_bottom" class="disabled pagination_previous">
												<span>
													<i class="fa fa-chevron-left"></i>
													<b>Назад</b>
												</span>
											</li>

											@{
												int pageCount = 5;
												int from = Model.Page - 2 <= 0 ? 1 : Model.Page - 2;
												int to = from + pageCount;

												if (to > Model.Count / 10)
												{
													to = Model.Count / 10;
													if (Model.Count % 10 != 0)
													{
														to++;
													}
												}

												for (var i = from; i <= to; i++)
												{
													if (i == Model.Page)
													{
														<li class="active current">
															<span>
																<span>
																	@i
																</span>
															</span>
														</li>
													}
													else
													{
														<li>
															<a href="/@Model.ProductType.ToString().ToLower()?page=@i">
																<span>
																	@i
																</span>
															</a>
														</li>
													}
												}

											}


											<li id="pagination_next_bottom" class="pagination_next">
												<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_category=14&amp;controller=category&amp;productId_lang=1#/page-2">
													<b>Вперед</b>
													<i class="fa fa-chevron-right"></i>
												</a>
											</li>
										</ul>
									</div>
									<div class="product-count">
										@(Model.Page * Model.Products.Length) из @Model.Count
									</div>

								</div>
							</div>
												}
					</div>
					<div id="left_column" class="column col-xs-12 col-sm-3">
						<section id="layered_block_left" class="block">
							<h4 class="title_block">
								Каталог
							</h4>
							<div class="block_content">
								<form action="#" id="layered_form">
									<div>
										@*<div class="layered_filter">
												<div class="layered_subtitle_heading">
													<span class="layered_subtitle">Availability</span>
												</div>
												<ul id="ul_layered_quantity_0" class="col-lg-12 layered_filter_ul">
													<li class="nomargin hiddable col-lg-12">
														<input type="checkbox" class="checkbox" name="layered_quantity_0" id="layered_quantity_0" value="0">
														<label for="layered_quantity_0">
															<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_category=14&amp;controller=category&amp;productId_lang=1#availability-not_available" data-rel="nofollow">
																<strong>Not available</strong>
																<span>1</span>
															</a>
														</label>
													</li>
													<li class="nomargin hiddable col-lg-12">
														<input type="checkbox" class="checkbox" name="layered_quantity_1" id="layered_quantity_1" value="1">
														<label for="layered_quantity_1">
															<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_category=14&amp;controller=category&amp;productId_lang=1#availability-in_stock" data-rel="nofollow">
																<strong>In stock</strong>
																<span>19</span>
															</a>
														</label>
													</li>
												</ul>
											</div>*@

										<div class="layered_filter">
											@*<div class="layered_subtitle_heading">
													<span class="layered_subtitle">Manufacturer</span>
												</div>*@
											<ul id="ul_layered_manufacturer_0" class="col-lg-12 layered_filter_ul">
												<li class="nomargin hiddable col-lg-12">

													<label for="layered_manufacturer_4">
														<a href="/flowers">
															<strong>
																Цветы
															</strong>
														</a>
													</label>
												</li>
												@*<li class="nomargin hiddable col-lg-12">

													<label for="layered_manufacturer_4">
														<a href="/toys">
															<strong>
																Игрушки
															</strong>
														</a>
													</label>
												</li>*@

											</ul>
										</div>
									</div>
								</form>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>