.idea/
node_modules/
server/iisnode
.sass-cache
dist/
.vs/
Flowers/bin/
Flowers/obj/
packages/
*.dacpac
Flowers.DB/bin
Flowers.DB/obj
*.jfm
*.dbmdl
Flowers.Web/bin/
Flowers.Web/obj/
Flowers.Web/static/server/iisnode/
Flowers.Api/bin/
Flowers.Api/obj/
Flowers.BL/bin/
Flowers.BL/obj/
Flowers.DAL/bin
