<div id="columns" class="container">
	<div id="slider_row" class="row">
		<div id="top_column" class="center_column col-xs-12 col-sm-12">
			<div id="htmlcontent_top">
				<ul class="htmlcontent-home clearfix row">
					<li class="htmlcontent-item-1 col-xs-12">
						<div class="item-html">
							<div class="cnt">
								<h4>
									с 8<sup>00</sup> до 21<sup>00</sup>
								</h4>
								<p class="color-primary">без выходных и обеда</p>
							</div>
						</div>
					</li>category-block.block
					<li class="htmlcontent-item-2 col-xs-12">
						<div class="item-html">
							<div class="cnt">
								<h3 class="color-primary">
									Салон цветов <br /> «С Любовью»
								</h3>
								<p>
									ул. Юбилейная, д. 28, корп. 1
								</p>
							</div>
						</div>
					</li>
					<li class="htmlcontent-item-3 col-xs-12">
						<div class="item-html">
							<div class="cnt">
								<h4>
									Доставка заказа
								</h4>
								<p class="color-primary">
									8 916 857 78 80 (Светлана)
								</p>
							</div>
						</div>
					</li>
				</ul>

			</div>

		</div>
	</div>
</div>

<div class="home-column">
	<div class="container">

		<section id="block-category-1_14" class="block category-block">
		<h4 class="title_block">
			<a href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_category=14&amp;controller=category&amp;id_lang=1">
				Flower gallery
			</a>
		</h4>

			<ul class="product_list grid row">
				<li class="ajax_block_product col-xs-12 col-sm-4 col-md-3 first-in-line first-item-of-tablet-line first-item-of-mobile-line" style="opacity: 1; transform: translate3d(0px, 0px, 0px);">
					<div class="product-container" itemscope="" itemtype="https://schema.org/Product">
						<div class="left-block">
							<div class="product-image-container">
								<a class="product_img_link" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=8&amp;controller=product&amp;id_lang=1" title="Autumn Basket" itemprop="url">
									<img class="replace-2x img-responsive" src="https://ld-prestashop.template-help.com/prestashop_58383/img/p/2/4/24-tm_home_default.jpg" alt="Autumn Basket" title="Autumn Basket" itemprop="image">
								</a>
								<a class="quick-view" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=8&amp;controller=product&amp;id_lang=1" data-href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=8&amp;controller=product&amp;id_lang=1">
									<span>Quick view</span>
								</a>
								<div class="buttons-wrap">
									<div class="button-container">
										<a class="customization" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=8&amp;controller=product&amp;id_lang=1" title="Customize">
											<span>Customize</span>
										</a>
									</div>
									<div class="wishlist">
										<a class="addToWishlist wishlistProd_8" href="#" data-id-product="8" onclick="WishlistCart('wishlist_block_list', 'add', '8', false, 1); return false;">
											<span>Add to Wishlist</span>
										</a>
									</div>
									<div class="compare">
										<a class="add_to_compare" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=8&amp;controller=product&amp;id_lang=1" data-id-product="8" title="Add to Compare"><span>Add to Compare</span></a>
									</div>
								</div>
								<a class="sale-box" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=8&amp;controller=product&amp;id_lang=1">
									<span class="sale-label">Sale!</span>
								</a>
							</div>
						</div>
						<div class="right-block">
							<h5 itemprop="name">
								<a class="product-name" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=8&amp;controller=product&amp;id_lang=1" title="Autumn Basket" itemprop="url">
									<span class="list-name">Autumn Basket</span>
									<span class="grid-name">Autumn Basket</span>
								</a>
							</h5>
							<p class="product-desc" itemprop="description">
								<span class="list-desc">&nbsp; &nbsp; What do we do when we want to show our thankfulness? We send a card, a gift or something like that. But the most traditional thing that we do is to present flowers. They are a universal gift and believe us - even if you are not a fan, it doesn’t matter because it is very pleasant to receive flowers.&nbsp;</span>
								<span class="grid-desc">&nbsp; &nbsp; What do we do when we want to...</span>
							</p>
							<div class="content_price">
								<span class="price product-price product-price-new">
									$16.00
								</span>
								<span class="old-price product-price">
									$20.00
								</span>
								<span class="price-percent-reduction">-20%</span>
							</div>
							<div class="product-flags">
							</div>
							<span class="availability">
								<span class=" label-success">
									In Stock
								</span>
							</span>
						</div>
					</div>
				</li>
				<li class="ajax_block_product col-xs-12 col-sm-4 col-md-3 last-item-of-mobile-line" style="opacity: 1; transform: translate3d(0px, 0px, 0px);">
					<div class="product-container" itemscope="" itemtype="https://schema.org/Product">
						<div class="left-block">
							<div class="product-image-container">
								<a class="product_img_link" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=9&amp;controller=product&amp;id_lang=1" title="Autumn Shades Perfect Gift" itemprop="url">
									<img class="replace-2x img-responsive" src="https://ld-prestashop.template-help.com/prestashop_58383/img/p/3/0/30-tm_home_default.jpg" alt="Autumn Shades Perfect Gift" title="Autumn Shades Perfect Gift" itemprop="image">
								</a>
								<a class="quick-view" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=9&amp;controller=product&amp;id_lang=1" data-href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=9&amp;controller=product&amp;id_lang=1">
									<span>Quick view</span>
								</a>
								<div class="buttons-wrap">
									<div class="button-container">
										<a itemprop="url" class="lnk_view btn btn-default" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=9&amp;controller=product&amp;id_lang=1" title="View">
											<span>More</span>
										</a>
									</div>
									<div class="wishlist">
										<a class="addToWishlist wishlistProd_9" href="#" data-id-product="9" onclick="WishlistCart('wishlist_block_list', 'add', '9', false, 1); return false;">
											<span>Add to Wishlist</span>
										</a>
									</div>
									<div class="compare">
										<a class="add_to_compare" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=9&amp;controller=product&amp;id_lang=1" data-id-product="9" title="Add to Compare"><span>Add to Compare</span></a>
									</div>
								</div>
								<a class="sale-box" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=9&amp;controller=product&amp;id_lang=1">
									<span class="sale-label">Sale!</span>
								</a>
							</div>
						</div>
						<div class="right-block">
							<h5 itemprop="name">
								<a class="product-name" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=9&amp;controller=product&amp;id_lang=1" title="Autumn Shades Perfect Gift" itemprop="url">
									<span class="list-name">Autumn Shades Perfect Gift</span>
									<span class="grid-name">Autumn Shades Perfect Gift</span>
								</a>
							</h5>
							<p class="product-desc" itemprop="description">
								<span class="list-desc">What do we do when we want to show our thankfulness? We send a card, a gift or something like that. But the most traditional thing that we do is to present flowers. They are a universal gift and believe us - even if you are not a fan, it doesn’t matter because it is very pleasant to receive flowers.&nbsp;</span>
								<span class="grid-desc">What do we do when we want to show...</span>
							</p>
							<div class="content_price">
								<span class="price product-price product-price-new">
									$25.60
								</span>
								<span class="old-price product-price">
									$32.00
								</span>
								<span class="price-percent-reduction">-20%</span>
							</div>
							<div class="product-flags">
							</div>
							<span class="availability">
								<span class="label-danger">
									Out of stock
								</span>
							</span>
						</div>
					</div>
				</li>
				<li class="ajax_block_product col-xs-12 col-sm-4 col-md-3 last-item-of-tablet-line first-item-of-mobile-line" style="opacity: 1; transform: translate3d(0px, 0px, 0px);">
					<div class="product-container" itemscope="" itemtype="https://schema.org/Product">
						<div class="left-block">
							<div class="product-image-container">
								<a class="product_img_link" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=10&amp;controller=product&amp;id_lang=1" title="Baby-Boy Perfect Gift" itemprop="url">
									<img class="replace-2x img-responsive" src="https://ld-prestashop.template-help.com/prestashop_58383/img/p/3/1/31-tm_home_default.jpg" alt="Baby-Boy Perfect Gift" title="Baby-Boy Perfect Gift" itemprop="image">
								</a>
								<a class="quick-view" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=10&amp;controller=product&amp;id_lang=1" data-href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=10&amp;controller=product&amp;id_lang=1">
									<span>Quick view</span>
								</a>
								<div class="buttons-wrap">
									<div class="button-container">
										<a class="ajax_add_to_cart_button" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?controller=cart&amp;add=1&amp;id_product=10&amp;ipa=88&amp;token=b8c06725f8ba8af5e140b0764db45415" rel="nofollow" title="Add to cart" data-id-product-attribute="88" data-id-product="10" data-minimal_quantity="1">
											<span>Add to cart</span>
										</a>
										<a itemprop="url" class="lnk_view btn btn-default" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=10&amp;controller=product&amp;id_lang=1" title="View">
											<span>More</span>
										</a>
									</div>
									<div class="wishlist">
										<a class="addToWishlist wishlistProd_10" href="#" data-id-product="10" onclick="WishlistCart('wishlist_block_list', 'add', '10', false, 1); return false;">
											<span>Add to Wishlist</span>
										</a>
									</div>
									<div class="compare">
										<a class="add_to_compare" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=10&amp;controller=product&amp;id_lang=1" data-id-product="10" title="Add to Compare"><span>Add to Compare</span></a>
									</div>
								</div>
								<a class="sale-box" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=10&amp;controller=product&amp;id_lang=1">
									<span class="sale-label">Sale!</span>
								</a>
							</div>
						</div>
						<div class="right-block">
							<h5 itemprop="name">
								<a class="product-name" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=10&amp;controller=product&amp;id_lang=1" title="Baby-Boy Perfect Gift" itemprop="url">
									<span class="list-name">Baby-Boy Perfect Gift</span>
									<span class="grid-name">Baby-Boy Perfect Gift</span>
								</a>
							</h5>
							<p class="product-desc" itemprop="description">
								<span class="list-desc">What do we do when we want to show our thankfulness? We send a card, a gift or something like that. But the most traditional thing that we do is to present flowers. They are a universal gift and believe us - even if you are not a fan, it doesn’t matter because it is very pleasant to receive flowers.&nbsp;</span>
								<span class="grid-desc">What do we do when we want to show...</span>
							</p>
							<div class="content_price">
								<span class="price product-price product-price-new">
									$22.40
								</span>
								<span class="old-price product-price">
									$28.00
								</span>
								<span class="price-percent-reduction">-20%</span>
							</div>
							<div class="product-flags">
							</div>
							<span class="availability">
								<span class=" label-success">
									In Stock
								</span>
							</span>
						</div>
					</div>
				</li>
				<li class="ajax_block_product col-xs-12 col-sm-4 col-md-3 last-in-line first-item-of-tablet-line last-item-of-mobile-line" style="opacity: 1; transform: translate3d(0px, 0px, 0px);">
					<div class="product-container" itemscope="" itemtype="https://schema.org/Product">
						<div class="left-block">
							<div class="product-image-container">
								<a class="product_img_link" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=11&amp;controller=product&amp;id_lang=1" title="Fairtrade Golden Autumn Hand tied" itemprop="url">
									<img class="replace-2x img-responsive" src="https://ld-prestashop.template-help.com/prestashop_58383/img/p/3/2/32-tm_home_default.jpg" alt="Fairtrade Golden Autumn Hand tied" title="Fairtrade Golden Autumn Hand tied" itemprop="image">
								</a>
								<a class="quick-view" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=11&amp;controller=product&amp;id_lang=1" data-href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=11&amp;controller=product&amp;id_lang=1">
									<span>Quick view</span>
								</a>
								<div class="buttons-wrap">
									<div class="button-container">
										<a class="ajax_add_to_cart_button" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?controller=cart&amp;add=1&amp;id_product=11&amp;ipa=112&amp;token=b8c06725f8ba8af5e140b0764db45415" rel="nofollow" title="Add to cart" data-id-product-attribute="112" data-id-product="11" data-minimal_quantity="1">
											<span>Add to cart</span>
										</a>
										<a itemprop="url" class="lnk_view btn btn-default" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=11&amp;controller=product&amp;id_lang=1" title="View">
											<span>More</span>
										</a>
									</div>
									<div class="wishlist">
										<a class="addToWishlist wishlistProd_11" href="#" data-id-product="11" onclick="WishlistCart('wishlist_block_list', 'add', '11', false, 1); return false;">
											<span>Add to Wishlist</span>
										</a>
									</div>
									<div class="compare">
										<a class="add_to_compare" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=11&amp;controller=product&amp;id_lang=1" data-id-product="11" title="Add to Compare"><span>Add to Compare</span></a>
									</div>
								</div>
								<a class="sale-box" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=11&amp;controller=product&amp;id_lang=1">
									<span class="sale-label">Sale!</span>
								</a>
							</div>
						</div>
						<div class="right-block">
							<h5 itemprop="name">
								<a class="product-name" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=11&amp;controller=product&amp;id_lang=1" title="Fairtrade Golden Autumn Hand tied" itemprop="url">
									<span class="list-name">Fairtrade Golden Autumn Hand tied</span>
									<span class="grid-name">Fairtrade Golden Autumn Hand tied</span>
								</a>
							</h5>
							<p class="product-desc" itemprop="description">
								<span class="list-desc">What do we do when we want to show our thankfulness? We send a card, a gift or something like that. But the most traditional thing that we do is to present flowers. They are a universal gift and believe us - even if you are not a fan, it doesn’t matter because it is very pleasant to receive flowers.&nbsp;</span>
								<span class="grid-desc">What do we do when we want to show...</span>
							</p>
							<div class="content_price">
								<span class="price product-price product-price-new">
									$12.80
								</span>
								<span class="old-price product-price">
									$16.00
								</span>
								<span class="price-percent-reduction">-20%</span>
							</div>
							<div class="product-flags">
							</div>
							<span class="availability">
								<span class=" label-success">
									In Stock
								</span>
							</span>
						</div>
					</div>
				</li>
				<li class="ajax_block_product col-xs-12 col-sm-4 col-md-3 first-in-line last-line first-item-of-mobile-line" style="opacity: 1; transform: translate3d(0px, 0px, 0px);">
					<div class="product-container" itemscope="" itemtype="https://schema.org/Product">
						<div class="left-block">
							<div class="product-image-container">
								<a class="product_img_link" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=12&amp;controller=product&amp;id_lang=1" title="Happy Birthday Autumn Brights Globe" itemprop="url">
									<img class="replace-2x img-responsive" src="https://ld-prestashop.template-help.com/prestashop_58383/img/p/4/8/48-tm_home_default.jpg" alt="Happy Birthday Autumn Brights Globe" title="Happy Birthday Autumn Brights Globe" itemprop="image">
								</a>
								<a class="quick-view" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=12&amp;controller=product&amp;id_lang=1" data-href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=12&amp;controller=product&amp;id_lang=1">
									<span>Quick view</span>
								</a>
								<div class="buttons-wrap">
									<div class="button-container">
										<a class="ajax_add_to_cart_button" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?controller=cart&amp;add=1&amp;id_product=12&amp;ipa=140&amp;token=b8c06725f8ba8af5e140b0764db45415" rel="nofollow" title="Add to cart" data-id-product-attribute="140" data-id-product="12" data-minimal_quantity="1">
											<span>Add to cart</span>
										</a>
										<a itemprop="url" class="lnk_view btn btn-default" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=12&amp;controller=product&amp;id_lang=1" title="View">
											<span>More</span>
										</a>
									</div>
									<div class="wishlist">
										<a class="addToWishlist wishlistProd_12" href="#" data-id-product="12" onclick="WishlistCart('wishlist_block_list', 'add', '12', false, 1); return false;">
											<span>Add to Wishlist</span>
										</a>
									</div>
									<div class="compare">
										<a class="add_to_compare" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=12&amp;controller=product&amp;id_lang=1" data-id-product="12" title="Add to Compare"><span>Add to Compare</span></a>
									</div>
								</div>
							</div>
						</div>
						<div class="right-block">
							<h5 itemprop="name">
								<a class="product-name" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=12&amp;controller=product&amp;id_lang=1" title="Happy Birthday Autumn Brights Globe" itemprop="url">
									<span class="list-name">Happy Birthday Autumn Brights Globe</span>
									<span class="grid-name">Happy Birthday Autumn Brights Globe</span>
								</a>
							</h5>
							<p class="product-desc" itemprop="description">
								<span class="list-desc">&nbsp; &nbsp; What do we do when we want to show our thankfulness? We send a card, a gift or something like that. But the most traditional thing that we do is to present flowers. They are a universal gift and believe us - even if you are not a fan, it doesn’t matter because it is very pleasant to receive flowers.</span>
								<span class="grid-desc">&nbsp; &nbsp; What do we do when we want to...</span>
							</p>
							<div class="content_price">
								<span class="price product-price">
									$27.00
								</span>
							</div>
							<div class="product-flags">
							</div>
							<span class="availability">
								<span class=" label-success">
									In Stock
								</span>
							</span>
						</div>
					</div>
				</li>
				<li class="ajax_block_product col-xs-12 col-sm-4 col-md-3 last-line last-item-of-tablet-line last-item-of-mobile-line" style="opacity: 1; transform: translate3d(0px, 0px, 0px);">
					<div class="product-container" itemscope="" itemtype="https://schema.org/Product">
						<div class="left-block">
							<div class="product-image-container">
								<a class="product_img_link" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=13&amp;controller=product&amp;id_lang=1" title="Happy Birthday Kalanchoe Basket" itemprop="url">
									<img class="replace-2x img-responsive" src="https://ld-prestashop.template-help.com/prestashop_58383/img/p/5/0/50-tm_home_default.jpg" alt="Happy Birthday Kalanchoe Basket" title="Happy Birthday Kalanchoe Basket" itemprop="image">
								</a>
								<a class="quick-view" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=13&amp;controller=product&amp;id_lang=1" data-href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=13&amp;controller=product&amp;id_lang=1">
									<span>Quick view</span>
								</a>
								<div class="buttons-wrap">
									<div class="button-container">
										<a class="ajax_add_to_cart_button" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?controller=cart&amp;add=1&amp;id_product=13&amp;ipa=164&amp;token=b8c06725f8ba8af5e140b0764db45415" rel="nofollow" title="Add to cart" data-id-product-attribute="164" data-id-product="13" data-minimal_quantity="1">
											<span>Add to cart</span>
										</a>
										<a itemprop="url" class="lnk_view btn btn-default" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=13&amp;controller=product&amp;id_lang=1" title="View">
											<span>More</span>
										</a>
									</div>
									<div class="wishlist">
										<a class="addToWishlist wishlistProd_13" href="#" data-id-product="13" onclick="WishlistCart('wishlist_block_list', 'add', '13', false, 1); return false;">
											<span>Add to Wishlist</span>
										</a>
									</div>
									<div class="compare">
										<a class="add_to_compare" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=13&amp;controller=product&amp;id_lang=1" data-id-product="13" title="Add to Compare"><span>Add to Compare</span></a>
									</div>
								</div>
							</div>
						</div>
						<div class="right-block">
							<h5 itemprop="name">
								<a class="product-name" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=13&amp;controller=product&amp;id_lang=1" title="Happy Birthday Kalanchoe Basket" itemprop="url">
									<span class="list-name">Happy Birthday Kalanchoe Basket</span>
									<span class="grid-name">Happy Birthday Kalanchoe Basket</span>
								</a>
							</h5>
							<p class="product-desc" itemprop="description">
								<span class="list-desc">&nbsp; &nbsp; What do we do when we want to show our thankfulness? We send a card, a gift or something like that. But the most traditional thing that we do is to present flowers. They are a universal gift and believe us - even if you are not a fan, it doesn’t matter because it is very pleasant to receive flowers.</span>
								<span class="grid-desc">&nbsp; &nbsp; What do we do when we want to...</span>
							</p>
							<div class="content_price">
								<span class="price product-price">
									$40.00
								</span>
							</div>
							<div class="product-flags">
							</div>
							<span class="availability">
								<span class=" label-success">
									In Stock
								</span>
							</span>
						</div>
					</div>
				</li>
				<li class="ajax_block_product col-xs-12 col-sm-4 col-md-3 last-line first-item-of-tablet-line first-item-of-mobile-line last-mobile-line" style="opacity: 1; transform: translate3d(0px, 0px, 0px);">
					<div class="product-container" itemscope="" itemtype="https://schema.org/Product">
						<div class="left-block">
							<div class="product-image-container">
								<a class="product_img_link" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=14&amp;controller=product&amp;id_lang=1" title="Happy Birthday Vibrant Exquisite Arrangement" itemprop="url">
									<img class="replace-2x img-responsive" src="https://ld-prestashop.template-help.com/prestashop_58383/img/p/6/0/60-tm_home_default.jpg" alt="Happy Birthday Vibrant Exquisite Arrangement" title="Happy Birthday Vibrant Exquisite Arrangement" itemprop="image">
								</a>
								<a class="quick-view" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=14&amp;controller=product&amp;id_lang=1" data-href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=14&amp;controller=product&amp;id_lang=1">
									<span>Quick view</span>
								</a>
								<div class="buttons-wrap">
									<div class="button-container">
										<a class="ajax_add_to_cart_button" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?controller=cart&amp;add=1&amp;id_product=14&amp;ipa=190&amp;token=b8c06725f8ba8af5e140b0764db45415" rel="nofollow" title="Add to cart" data-id-product-attribute="190" data-id-product="14" data-minimal_quantity="1">
											<span>Add to cart</span>
										</a>
										<a itemprop="url" class="lnk_view btn btn-default" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=14&amp;controller=product&amp;id_lang=1" title="View">
											<span>More</span>
										</a>
									</div>
									<div class="wishlist">
										<a class="addToWishlist wishlistProd_14" href="#" data-id-product="14" onclick="WishlistCart('wishlist_block_list', 'add', '14', false, 1); return false;">
											<span>Add to Wishlist</span>
										</a>
									</div>
									<div class="compare">
										<a class="add_to_compare" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=14&amp;controller=product&amp;id_lang=1" data-id-product="14" title="Add to Compare"><span>Add to Compare</span></a>
									</div>
								</div>
							</div>
						</div>
						<div class="right-block">
							<h5 itemprop="name">
								<a class="product-name" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=14&amp;controller=product&amp;id_lang=1" title="Happy Birthday Vibrant Exquisite Arrangement" itemprop="url">
									<span class="list-name">Happy Birthday Vibrant Exquisite Arrangement</span>
									<span class="grid-name">Happy Birthday Vibrant Exquisite Arrangement</span>
								</a>
							</h5>
							<p class="product-desc" itemprop="description">
								<span class="list-desc">What do we do when we want to show our thankfulness? We send a card, a gift or something like that. But the most traditional thing that we do is to present flowers. They are a universal gift and believe us - even if you are not a fan, it doesn’t matter because it is very pleasant to receive flowers.&nbsp;</span>
								<span class="grid-desc">What do we do when we want to show...</span>
							</p>
							<div class="content_price">
								<span class="price product-price">
									$34.00
								</span>
							</div>
							<div class="product-flags">
							</div>
							<span class="availability">
								<span class=" label-success">
									In Stock
								</span>
							</span>
						</div>
					</div>
				</li>
				<li class="ajax_block_product col-xs-12 col-sm-4 col-md-3 last-in-line last-line last-item-of-mobile-line last-mobile-line" style="opacity: 1; transform: translate3d(0px, 0px, 0px);">
					<div class="product-container" itemscope="" itemtype="https://schema.org/Product">
						<div class="left-block">
							<div class="product-image-container">
								<a class="product_img_link" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=15&amp;controller=product&amp;id_lang=1" title="Heavenly Red Rose Hand tied" itemprop="url">
									<img class="replace-2x img-responsive" src="https://ld-prestashop.template-help.com/prestashop_58383/img/p/6/1/61-tm_home_default.jpg" alt="Heavenly Red Rose Hand tied" title="Heavenly Red Rose Hand tied" itemprop="image">
								</a>
								<a class="quick-view" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=15&amp;controller=product&amp;id_lang=1" data-href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=15&amp;controller=product&amp;id_lang=1">
									<span>Quick view</span>
								</a>
								<div class="buttons-wrap">
									<div class="button-container">
										<a class="ajax_add_to_cart_button" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?controller=cart&amp;add=1&amp;id_product=15&amp;ipa=208&amp;token=b8c06725f8ba8af5e140b0764db45415" rel="nofollow" title="Add to cart" data-id-product-attribute="208" data-id-product="15" data-minimal_quantity="1">
											<span>Add to cart</span>
										</a>
										<a itemprop="url" class="lnk_view btn btn-default" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=15&amp;controller=product&amp;id_lang=1" title="View">
											<span>More</span>
										</a>
									</div>
									<div class="wishlist">
										<a class="addToWishlist wishlistProd_15" href="#" data-id-product="15" onclick="WishlistCart('wishlist_block_list', 'add', '15', false, 1); return false;">
											<span>Add to Wishlist</span>
										</a>
									</div>
									<div class="compare">
										<a class="add_to_compare" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=15&amp;controller=product&amp;id_lang=1" data-id-product="15" title="Add to Compare"><span>Add to Compare</span></a>
									</div>
								</div>
							</div>
						</div>
						<div class="right-block">
							<h5 itemprop="name">
								<a class="product-name" href="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=15&amp;controller=product&amp;id_lang=1" title="Heavenly Red Rose Hand tied" itemprop="url">
									<span class="list-name">Heavenly Red Rose Hand tied</span>
									<span class="grid-name">Heavenly Red Rose Hand tied</span>
								</a>
							</h5>
							<p class="product-desc" itemprop="description">
								<span class="list-desc">What do we do when we want to show our thankfulness? We send a card, a gift or something like that. But the most traditional thing that we do is to present flowers. They are a universal gift and believe us - even if you are not a fan, it doesn’t matter because it is very pleasant to receive flowers.&nbsp;</span>
								<span class="grid-desc">What do we do when we want to show...</span>
							</p>
							<div class="content_price">
								<span class="price product-price">
									$32.00
								</span>
							</div>
							<div class="product-flags">
							</div>
							<span class="availability">
								<span class=" label-success">
									In Stock
								</span>
							</span>
						</div>
					</div>
				</li>
			</ul>
		</section>


		<div class="map">

			<script type="text/javascript" charset="utf-8" async
					src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=y2A7hT9Iv1Vs6wSTalPOrSJmHR3PPc5T&amp;width=1170&amp;height=350&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true"></script>
		</div>


		<div id="htmlcontent_home">
			<div class="htmlcontent-home clearfix row">
				<div class="htmlcontent-item-1 col-xs-12">
					<img src="/static/app/img/72d045c2766cf0bd59e203fb1ca02d7e6cabc50a_banner01.jpg"
						 class="item-img" title="" alt="" width="100%" height="100%" />
					<div class="item-html">
						<h2>
							Маленькие радости сделают вашу жизнь счасливее!
						</h2>

						<p>
							В подарок карта со скидкой 10%
						</p>

					</div>
				</div>
			</div>

			<div class="list col-xs-12">
				<ol>
					<li>
						цветы
					</li>
					<li>
						композиции
					</li>
					<li>
						игрушки из живых цветов
					</li>
					<li>
						свадебная флористика
					</li>
					<li>
						комнатные растения
					</li>
					<li>
						сувениры
					</li>
					<li>
						игрушки
					</li>
				</ol>
			</div>
		</div>

	</div>


</div>