#tmhtmlcontent_footer {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 70px;
}

#tmhtmlcontent_footer ul {
  margin-bottom: 0;
}

@media (max-width: 767px) {
  #tmhtmlcontent_footer {
    margin-top: 30px;
  }
}