#htmlcontent_top {
  border-top: solid 2px #2d2d2d;
  border-bottom: solid 2px #2d2d2d;
  display: table;
  table-layout: fixed;
  width: 100%;
}

@media (min-width: 768px) {
  #htmlcontent_top {
    padding-top: 22px;
    padding-bottom: 22px;
  }
}

#htmlcontent_top ul {
  display: table-row;
  height: 100%;
}

#htmlcontent_top ul > li {
  display: table-cell;
  height: 100%;
}

#htmlcontent_top ul > li > div {
  display: table;
  width: 100%;
  height: 146px;
  text-align: center;
}

#htmlcontent_top ul > li > div > .cnt {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

#htmlcontent_top ul > li > div > .cnt * {
  margin: 0;
}

#htmlcontent_top ul > li > div > .cnt .color-primary {
  color: #d47887;
}

#htmlcontent_top ul > li > div > .cnt h3 + p, #htmlcontent_top ul > li > div > .cnt h4 + p {
  margin-top: 10px;
}

#htmlcontent_top ul > li > div > .cnt h3 {
  font: 700 2.667em/1.15em "Merriweather", sans-serif;
}

#htmlcontent_top ul > li > div > .cnt h4 {
  font: 700 1.667em/1.15em "Merriweather", sans-serif;
}

#htmlcontent_top ul > li > div > .cnt p {
  font: 700 1em/1.2em "Merriweather", sans-serif;
  letter-spacing: 0.025em;
}

#htmlcontent_top ul > li > div > .cnt h3, #htmlcontent_top ul > li > div > .cnt h4, #htmlcontent_top ul > li > div > .cnt p {
  font-style: italic;
}

@media (max-width: 991px) {
  #htmlcontent_top ul > li > div > .cnt {
    font-size: 15px;
  }
}

@media (max-width: 767px) {
  #htmlcontent_top ul > li > div > .cnt {
    font-size: 13px;
  }
}

@media (max-width: 767px) {
  #htmlcontent_top ul > li > div {
    height: 120px;
  }
}

#htmlcontent_top ul > li img {
  max-width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  #htmlcontent_top ul > li:nth-child(1), #htmlcontent_top ul > li:nth-child(3) {
    width: 24.2735%;
  }
  #htmlcontent_top ul > li:nth-child(2) {
    width: 51.453%;
  }
  #htmlcontent_top ul > li + li {
    border-left: solid 2px #2d2d2d;
  }
}

@media (max-width: 767px) {
  #htmlcontent_top ul > li + li {
    border-top: solid 2px #2d2d2d;
  }
}

#htmlcontent_home {
  border-bottom: solid 2px #2d2d2d;
  padding-top: 35px;
}

@media (max-width: 767px) {
  #htmlcontent_home {
    padding-top: 15px;
  }
}

#htmlcontent_home ul {
  margin-bottom: 0;
}

#htmlcontent_home ul > li {
  position: relative;
}

#htmlcontent_home ul > li img {
  vertical-align: bottom;
}

#htmlcontent_home ul > li > div.item-html {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  padding: 0 20%;
}

#htmlcontent_home ul > li > div.item-html * {
  margin: 0;
}

#htmlcontent_home ul > li > div.item-html h2 {
  font: 700 2.667em/1.15em "Merriweather", sans-serif;
}

#htmlcontent_home ul > li > div.item-html p {
  font: 700 1em/1.7em "Merriweather", sans-serif;
  padding: 0 10%;
}

#htmlcontent_home ul > li > div.item-html h2, #htmlcontent_home ul > li > div.item-html p {
  font-style: italic;
  letter-spacing: 0.025em;
}

#htmlcontent_home ul > li > div.item-html h2 + p {
  margin-top: 22px;
}

#htmlcontent_home ul > li > div.item-html p + .btn-wrap {
  margin-top: 50px;
}

@media (max-width: 1199px) {
  #htmlcontent_home ul > li > div.item-html {
    padding: 0 10%;
    top: 50%;
  }
}

@media (max-width: 991px) {
  #htmlcontent_home ul > li > div.item-html {
    padding: 0 5%;
    font-size: 14px;
  }
  #htmlcontent_home ul > li > div.item-html h2 + p, #htmlcontent_home ul > li > div.item-html p + .btn-wrap {
    margin-top: 15px;
  }
}

@media (max-width: 767px) {
  #htmlcontent_home ul > li > div.item-html {
    font-size: 8px;
  }
  #htmlcontent_home ul > li > div.item-html p {
    display: none;
  }
}

@media (max-width: 479px) {
  #htmlcontent_home ul > li {
    height: 170px;
  }
  #htmlcontent_home ul > li img {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: auto;
  }
  #htmlcontent_home ul > li .btn-primary-1 {
    padding-top: 11px;
  }
}