
@{
	ViewBag.Title = "Корзина";
}

<div id="columns" class="container">

	<div class="row">
		<div class="large-left col-sm-12">
			<div class="row">
				<div id="center_column" class="center_column col-xs-12 col-sm-12 accordionBox">
					<h1 id="cart_title" class="page-heading">
						Корзина
						@*<span class="heading-counter">
								Your shopping cart contains:
								<span id="summary_products_quantity">1 product</span>
							</span>*@
					</h1>

				

					<div id="order-detail-content" class="table_block table-responsive">
					</div>
			
					<p class="cart_navigation clearfix">
						<a href="" 
						   class="btn btn-default standard-checkout btn-md icon-right">
							<span>
								Оформить заказ
							</span>
						</a>
						@*<a href="https://ld-prestashop.template-help.com/prestashop_58383/" class="btn btn-default btn-md icon-left" title="Continue shopping">
							<span>Continue shopping</span>
						</a>*@
					</p>
					<div class="clear"></div>
					<div class="cart_navigation_extra">
						<div id="HOOK_SHOPPING_CART_EXTRA"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
