@using Flowers.Products.ProductTypes
@model Dictionary<Flowers.Products.ProductTypes.ProductType, Flowers.Products.Flowers.Flower[]>

<div id="columns" class="container">
    <div id="slider_row" class="row">
        <div id="top_column" class="center_column col-xs-12 col-sm-12">
            <div id="htmlcontent_top">
                <ul class="htmlcontent-home clearfix row">
                    <li class="htmlcontent-item-1 col-xs-12">
                        <div class="item-html">
                            <div class="cnt">
                                <h4>
                                    с 8<sup>00</sup> до 21<sup>00</sup>
                                </h4>
                                <p class="color-primary">без выходных и обеда</p>
                            </div>
                        </div>
                    </li>
                    <li class="htmlcontent-item-2 col-xs-12">
                        <div class="item-html">
                            <div class="cnt">
                                <h3 class="color-primary">
                                    <span class="title">
                                        Салон цветов <br /> «С Любовью»
                                    </span>

                                </h3>
                                <p>
                                    ул. Юбилейная, д. 28, корп. 1 (у дороги, отдельный вход)
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="htmlcontent-item-3 col-xs-12">
                        <div class="item-html">
                            <div class="cnt">
                                <h4>
                                    Доставка заказа
                                </h4>
                                <p class="color-primary">
                                    8 916 857 78 80 (Светлана)
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="home-column">
    <div class="container">

        @{
            Html.RenderPartial("_ProductList", Model[ProductType.Flowers]);
            //Html.RenderPartial("_ProductList", Model[ProductType.Toys]);
        }


        <div id="htmlcontent_home">
            <div class="htmlcontent-home clearfix row">
                <div class="htmlcontent-item-1 col-xs-12">
                    <img src="/app/img/10.2.png"
                         class="item-img" title="" alt="" width="100%" height="100%" />
                    <div class="item-html">
                        <h2>
                            Цветы Ваших Желаний.
                        </h2>

                        <p>
                            В подарок карта со скидкой 10%
                        </p>

                    </div>
                </div>
            </div>

            <div class="list col-xs-12">
                <ol>
                    <li>
                        цветы
                    </li>
                    <li>
                        композиции
                    </li>
                    <li>
                        игрушки из живых цветов
                    </li>
                    <li>
                        свадебная флористика
                    </li>
                    <li>
                        комнатные растения
                    </li>
                    <li>
                        сувениры
                    </li>
                    <li>
                        игрушки
                    </li>
                </ol>
            </div>
        </div>

    </div>


</div>