
$default-color:#bcbcbc;
.block_contact_infos > li {
  color: $default-color;
  line-height: 24px;
  & + li {
    margin-top: 0;
  }

  a {
    color: #d47887;

    &:hover {
      color: $default-color;
    }
  }

}
