@import "../common/product-images/styles/index";

.product-list {
  .card {
    width: 150px;
    cursor: pointer;

    img{
      width: 150px;
    }
  }
}

@import "../bouquets/item/composition/index";
