<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<modules>
			<remove name="WebDAVModule"/>
		</modules>
		<httpProtocol>
			<customHeaders>
				<remove name="X-Powered-By" />
			</customHeaders>
		</httpProtocol>
		<handlers>
			<remove name="WebDAV" />
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
		</handlers>
		<aspNetCore processPath=".\bin\Debug\net462\win7-x86\Flowers.CoreWeb.exe" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
	</system.webServer>
</configuration>
<!--ProjectGuid: 5765198B-00FE-4CA0-B891-656B92E8D39A-->