#htmlcontent_top {
  margin-top: 5px;
  border-top: solid 2px #2d2d2d;
  border-bottom: solid 2px #2d2d2d;
  display: table;
  table-layout: fixed;
  width: 100%;

  .htmlcontent-item-2 {
    @media (max-width: 320px) {
     .title{
       font-size: 22pt;
     }
    }
  }
}

@media (min-width: 768px) {
  #htmlcontent_top {
    padding-top: 22px;
    padding-bottom: 22px;
  }
}

#htmlcontent_top ul {
  display: table-row;
  height: 100%;
}

#htmlcontent_top ul > li {
  display: table-cell;
  height: 100%;
}

#htmlcontent_top ul > li > div {
  display: table;
  width: 100%;
  height: 146px;
  text-align: center;
}

#htmlcontent_top ul > li > div > .cnt {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

#htmlcontent_top ul > li > div > .cnt * {
  margin: 0;
}

#htmlcontent_top ul > li > div > .cnt .color-primary {
  color: #d47887;
}

#htmlcontent_top ul > li > div > .cnt h3 + p, #htmlcontent_top ul > li > div > .cnt h4 + p {
  margin-top: 10px;
  margin-bottom: 10px;
}

#htmlcontent_top ul > li > div > .cnt h3 {
  font: 700 2.667em/1.15em "Merriweather", sans-serif;
}

#htmlcontent_top ul > li > div > .cnt h4 {
  font: 700 1.667em/1.15em "Merriweather", sans-serif;
}

#htmlcontent_top ul > li > div > .cnt p {
  font: 700 1em/1.2em "Merriweather", sans-serif;
  letter-spacing: 0.025em;
}

#htmlcontent_top ul > li > div > .cnt h3, #htmlcontent_top ul > li > div > .cnt h4, #htmlcontent_top ul > li > div > .cnt p {
  font-style: italic;
}

@media (max-width: 991px) {
  #htmlcontent_top ul > li > div > .cnt {
    font-size: 15px;
  }
}

@media (max-width: 767px) {
  #htmlcontent_top ul > li > div > .cnt {
    font-size: 13px;
  }
}

@media (max-width: 767px) {
  #htmlcontent_top ul > li > div {
    height: 120px;
  }
}

#htmlcontent_top ul > li img {
  max-width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  #htmlcontent_top ul > li:nth-child(1), #htmlcontent_top ul > li:nth-child(3) {
    width: 24.2735%;
  }
  #htmlcontent_top ul > li:nth-child(2) {
    width: 51.453%;
  }
  #htmlcontent_top ul > li + li {
    border-left: solid 2px #2d2d2d;
  }
}

@media (max-width: 767px) {
  #htmlcontent_top ul > li + li {
    border-top: solid 2px #2d2d2d;
  }
}

