
<div class="columns-container">
    <div class="container">
        <div class="row">
            <div class="large-left col-sm-12">
                <div class="row">
                    <div id="center_column" class="center_column col-xs-12 col-sm-12 accordionBox">


                        <h1 class="page-heading">
                            Магазин
                        </h1>

                        <ul class="block_contact_infos" style="">
                            <li>    
                                <i class="fa fa-map-marker"></i>
                                Адрес:
                                <span>
                                    <a rel="nofollow noopener noreferrer" target="_blank" href="https://yandex.ru/maps/10716/balashiha/?z=15&ll=38.01340884124742%2C55.73952781917249&l=map&origin=jsapi_2_1_47&from=api-maps&um=constructor%3Ay2A7hT9Iv1Vs6wSTalPOrSJmHR3PPc5T&mode=usermaps">
                                        г.Балашиха, микрорайон Железнодорожный, ул. Юбилейная, д. 28, корп. 1 (у дороги, отдельный вход)
                                    </a>
                                </span>
                            </li>
                            <li>
                                <i class="fa fa-phone"></i>
                                Телефон:
                                <span>
                                    <a href="tel:8 916 857 78 80">  
                                        8 916 857 78 80 (Светлана)
                                    </a>
                                </span>
                            </li>
                            <li>
                              
                                Время работы магазина:
                                <span>
                                    с 8:00 до 21:00
                                </span>
                            </li>
                            @*<li>
                                    <i class="fa fa-envelope-o"></i>
                                    Email:
                                    <span><a href="mailto:">info@demolink.org</a></span>
                                </li>*@
                        </ul>


                        <div class="map">
                            <script type="text/javascript" charset="utf-8" async
                                    src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=y2A7hT9Iv1Vs6wSTalPOrSJmHR3PPc5T&amp;wproductIdth=100%&amp;height=350&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true"></script>
                        </div>


                    </div><!-- #center_column -->
                </div><!--.large-left-->
            </div><!--.row-->
        </div>
    </div>
</div>
