
@section head{
    <style>
        #center_column.center_column h3 {
            font: bold 20px/30px "Merriweather", sans-serif;
            margin: 10px 0 26px;
        }

        #center_column.center_column p {
            padding-left: 2em;
        }
    </style>
}

<div class="columns-container">
    <div class="container">
        <div class="row">
            <div class="large-left col-sm-12">
                <div class="row">
                    <div id="center_column" class="center_column col-xs-12 col-sm-12 accordionBox">


                        <h3>
                            Как сделать заказ
                        </h3>

                        <p>
                            Позвоните по бесплатному телефону, и мы сами оформим Ваш заказ:

                            8 800 250 25 25 — звонок по России бесплатный
                            Сообщите оператору, какие товары/услуги Вас интересуют;
                            Назовите ФИО, Ваш контактный телефон и желаемый способ доставки:

                            при курьерской доставке – адрес, по которому необходимо осуществить доставку;

                            Дождитесь, пока оператор оформит заказ, он сообщит Вам номер заказа и как получить товар.
                        </p>

                        <h3>
                            Доставка
                        </h3>

                        <p>
                            Курьерская доставка по Москве и Московской Области
                            Стоимость. Интернет-магазин Mascotte осуществляет курьерскую доставку заказов по Москве и Московской области. Выкупленный заказ на сумму свыше 8000 рублей доставляется бесплатно. При меньшей сумме доставка товаров по Москве стоит 300 рублей, по области – 350 рублей. В период акций и специальных предложений стоимость доставки включается в заказ автоматическом режиме, вне зависимости от суммы заказ и выкупленного товара.

                            Сроки. Доставка товаров Mascotte осуществляется курьером: в Москве он может привезти Ваш заказ в будние дни с 09:00 до 21:00, а также в субботу с 11:00 до 17:00. Клиенты из Подмосковья получают товары по рабочим и выходным дням с 9:00 до 20:00.

                            Примерка. В момент доставки заказа Вы можете осуществить примерку товара при курьере в течение 15 минут с момента его приезда. Если обувь не подходит, Вы можете оформить частичный отказ от покупки. При этом денежные средства, внесенные в виде предоплаты, будут возвращены на карту. Подробные условия возврата денежных средств

                            Условия заказа. В одном заказе может быть не более пяти пар обуви и не более двух размеров обуви одного артикула. Это правило касается не только артикула, но и всей модели (если она представлена в нескольких цветах). В день от каждого клиента принимается не более одного заказа. Данное ограничение снимается, если товар будет предоплачен на сайте интернет-магазина
                        </p>

                        <h3>
                            Оплата
                        </h3>

                        <p>
                            ринимаем карточки VISA, VisaElectron, MasterCard, Maestro, а также международных платежных систем Visa International, MasterCard International, Diners Club International, American Express.

                            Оплата по карте производится при помощи переадресации на платёжный шлюз банка «Русский Стандарт», с помощью платежного шлюза интернет-эквайринга «PayPal» и с помощью платежного шлюза «CloudPayments». На принятие вами решения об оплате заказа и вводе реквизитов отводится 10 минут. После превышения этого времени заказ аннулируется.
                        </p>

                    </div><!-- #center_column -->
                </div><!--.large-left-->
            </div><!--.row-->
        </div>
    </div>
</div>
