
@{
    string phone = "8 916 857 78 80";
}

@section head{
    <style>
        #center_column.center_column h3 {
            font: bold 20px/30px "Merriweather", sans-serif;
            margin: 10px 0 26px;
        }

        #center_column.center_column p,
        #center_column.center_column ul,
        #center_column.center_column ol {
            padding-left: 2em;
        }

        #center_column.center_column ol {
            list-style: decimal;
        }
        #center_column.center_column ul {
            list-style: disc;
        }
    </style>
}

<div class="columns-container">
    <div class="container">
        <div class="row">
            <div class="large-left col-sm-12">
                <div class="row">
                    <div id="center_column" class="center_column col-xs-12 col-sm-12 accordionBox">


                        <h3>
                            Как сделать заказ:
                        </h3>


                        <ol>
                            <li>
                                Позвонить по телефону: @phone, и мы сами оформим Ваш заказ
                            </li>
                            <li>
                                Сообщить оператору, какие товары/услуги Вас интересуют;
                            </li>
                            <li>
                                Назвать ФИО, Ваш контактный телефон и желаемый способ доставки:
                                при курьерской доставке – адрес,<br /> по которому необходимо осуществить доставку;
                            </li>
                            <li>
                                Дождитесь, пока оператор оформит заказ, он сообщит Вам номер заказа и как получить товар.
                            </li>
                        </ol>

                        <h3>
                            Доставка
                        </h3>

                        <p>
                            <ul>
                                <li>
                                    Курьерская доставка по г. Балашиха, мкр Железенодорожный - 200р
                                </li>
                                <li>
                                    Стоимость доставки по Москве и Московской Области уточняйте у менеджера.
                                </li>
                            </ul>

                            <p>
                                Напоминаем вам, что заказанный вами букет будет максимально приближен по форме и цветовой гамме к вашему заказу, 
                                однако возможны незначительные различия по составу и оттенкам цветов, т.к.некоторые сорта могут отсутствовать в связи с сезоном.

                                Сроки. Ко времени обозначенному клиентом
                            </p>
                    
                        @*<p>
                            Сроки доставки обговариваются  Ко времени обозначенному клиентом
                        </p>*@

                        <h3>
                            Оплата
                        </h3>

                        <p>
                            
                            Оплатите покупку любым удобным для вас способом
                            <br />
                            Доступны способы оплаты: наличные, банковские карты, банковский перевод (переводом на карту, по выставленну счету)
                            <br />
                            <br />
                            Подробнее о типах оплаты:
                        </p>
                    
                        <ul>
                            <li>
                                Оплата Курьеру наличными при получении
                            </li>
                            <li>
                                Оплата при самовывозе: наличные, банковские карты
                            </li>
                            <li>
                                Предоплата: банковский перевод (переводом на карту, по выставленну счету)
                            </li>
                        </ul>
                        <p>
                            <b>
                                Предоплаченный заказ выдается получателю при предъявлении удостоверения личности.
                            </b>  
                            <br />
                            Повсем вопрос звоните по телефону: @phone.
                        </p>

                      

                    </div><!-- #center_column -->
                </div><!--.large-left-->
            </div><!--.row-->
        </div>
    </div>
</div>
