<h1>
	{{ type }}
</h1>


<div class="row">
	<div class="col-9">

		<div class="row">
			<div class="col">
				<a routerLink="./new">
					Добавить
				</a>
			</div>
		</div>

		<div class="product-list card-deck" *ngFor="let group of data;">
			<div class="card"
			     *ngFor="let item of group;"
			     (click)="onItemClick(item.id)">

				<img *ngIf="item.imageUrl"
				     [src]="item.imageUrl"
				     [alt]="item.name"/>

				<img *ngIf="!item.imageUrl"
				     src="/app/img/no_photo.jpg"/>

				<div class="card-block">
					<h4 class="card-title">
						{{ item.name }}
					</h4>
					<p class="card-text">
						{{ item.summary }}
					</p>
					<p class="card-text">
						<small class="text-muted">
							{{ item.price }}
						</small>
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="col">
		<colors-filter (change)="onFilterChange($event)"></colors-filter>
	</div>

</div>