@using Flowers.Web.Core
@{
	ViewBag.Title = "_cms";
}

@section head{

	@*@{
		<link href="@Html.ResolvePath("/static/app/cms/common/styles/styles.css")?v=@Html.GetStaticVersion()" rel="stylesheet" />
	}*@
}


<cms class="layout">
	<div class="loader"></div>
</cms>

@section scripts{
	<script>
		window.app = window.app || {};
	</script>
	@{
		if (Html.IsDebug())
		{
			Html.RenderPartial("_DebugScriptLoader", new[] {

				"/static/node_modules/core-js/client/shim.min.js",
				"/static/node_modules/zone.js/dist/zone.js",
				"/static/node_modules/reflect-metadata/Reflect.js",

				"/static/node_modules/systemjs/dist/system.src.js",
				"/static/app/cms/systemjs.config.js"

			});

			<script>
				(function () {
					System.import('app/main')
						.then(null, console.error.bind(console));
				}())
			</script>
		}
		else
		{
			Html.RenderPartial("_ReleaseScriptLoader", new[] { "/static/out/client-area/index.min.js" });
		}
	}
}